@import "/src/styles/media_queries.scss";

.sectionPortfolio {
  position: relative;
  padding-top: 0;
  margin-top: -40px;

  @include for-desktop-up {
    margin-top: -75px;
  }
}

.titleText {
  font-weight: 600;
  font-size: 24px;
  text-align: left;
  margin-bottom: 30px;

  @include for-desktop-up {
    font-size: 60px;
    margin-bottom: 50px;
  }
}

.projectCards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  gap: 35px;
  margin-bottom: 60px;

  @include for-tablet-down {
    grid-template-columns: repeat(auto-fill, minmax(250px, auto));
  }
}

%dotsPattern {
  position: absolute;
  z-index: -1;

  @include for-desktop-up {
    width: 277px;
  }

  @include for-tablet-down {
    display: none;
  }
}

.topRightPattern {
  @extend %dotsPattern;
  top: 6%;
  right: 63px;
}

%circle {
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

.filledCircle {
  @extend %circle;
  background: rgba($color: #eaeaea, $alpha: 0.3);
  width: 309px;
  height: 309px;
  top: 180px;
  left: -112px;
}

.emptyCircle {
  @extend %circle;
  border: 0.5px solid rgba($color: #363636, $alpha: 0.2);
  width: 310px;
  height: 310px;
  top: 168px;
  left: -86px;
}

.smallBlurCircle {
  @extend %circle;
  width: 10px;
  height: 10px;
  background-color: rgba($color: #8224e3, $alpha: 0.5);
  filter: blur(4px);
  top: 204px;
  left: 166px;
}

.bottomFilledCircle {
  @extend %circle;
  background: rgba($color: #eaeaea, $alpha: 0.3);
  width: 309px;
  height: 309px;
  bottom: 27%;
  right: 107px;

  @include for-phone-only {
    display: none;
  }
}

.bottomEmptyCircle {
  @extend %circle;
  border: 0.5px solid rgba($color: #363636, $alpha: 0.2);
  width: 310px;
  height: 310px;
  bottom: 27%;
  right: 82px;

  @include for-phone-only {
    display: none;
  }
}

.bottomSmallBlurCircle {
  @extend %circle;
  width: 10px;
  height: 10px;
  background-color: rgba($color: #8224e3, $alpha: 0.5);
  filter: blur(4px);
  bottom: calc(28% + 20px);
  right: 120px;

  @include for-phone-only {
    display: none;
  }
}

.talk {
  text-align: center;
  margin: auto;
}

.portfolioProjectPreShowcase {
  display: flex;
  background-size: cover;
  background-position: center;
  @include for-tablet-down {
    padding-bottom: 6rem;
    flex-direction: column;
  }
  .portfolioFeatured {
    color: #fff;
    padding: 2rem 0;
    max-width: 250px;
    @include for-tablet-down {
      width: 100%;
      max-width: 100%;
      text-align: center;
    }
    h3 {
      font-weight: 500;
      letter-spacing: 1em;
      text-transform: uppercase;
      font-size: 10px;
      opacity: 0.5;
    }
    h4 {
      margin-top: 1.8rem;
      font-weight: 600;
      font-size: 35px;
    }
    p {
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.3px;
      opacity: 0.5;
    }
    .horizontalBar {
      width: 80px;
      height: 8px;
      background: #FFC331;
      margin: 0;
      @include for-tablet-down { 
        margin: auto;
        align-self: center;
      }
      align-self: flex-start;
      border: none;
    }
    button {
      max-width: 210px;
      width: 100%;
      padding: 8px;
      margin-top: 2rem;
      font-weight: bold;
      border: 1px solid #fff;
      border-radius: 3px;
      color: #fff;
      background: transparent;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .portfolioProjectDisplayWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    @include for-tablet-down { 
      flex-direction: column;
    }
    .portfolioProjectPreview {
      border-radius: 100%;
      height: 200px;
      width: 200px;
      background-size: cover;
      background-position: center;
      @include for-tablet-down { 
        margin: 1rem;
      }
      .portfolioProjectCompanyLogo {
        border-radius: 100%;
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 121px;
        right: 49px;
        left: 122px;
        img {
          height: 50px;
        }
      }
    }
  }
}

