@import '/src/styles/media_queries.scss';

.growFaster {
  display: flex;
  padding-top: calc(125px + var(--rootContentMinPadding));
}

.growFasterContainer {
  max-width: 960px;
  width: 100%;
  margin: 0px auto;
}

.sectionHeader {
  width: 100%;
  text-align: right;
  margin: auto 0 auto 20px;
}

.subheadingText {
  font-weight: 500;
  letter-spacing: 3px;
  color: rgba($color: #363636, $alpha: 0.5);
  font-size: 13px;
  line-height: 13px;
  margin-bottom: 32px;
  text-transform: uppercase;
  text-align: right;
}

.titleText {
  text-align: right;

  @include for-desktop-up {
    font-weight: 600;
    font-size: 60px;
    margin-bottom: 10px;
  }
}

.descriptionText {
  font-weight: 300;
  font-size: 20px;
  color: rgba($color: #363636, $alpha: 0.5);
  text-align: right;
}

.horizontalBar {
  width: 100px;
  height: 10px;
  background: #FFC331;
  border: none;
  margin: 25px 0px 30px auto;
  display: block;
}

.sectionContent {
  font-size: 24px;
  line-height: 36px;
  text-align: right;
  
  @include for-tablet-up {
    margin-left: 40px;
  }
}

.freeQuoteButton {
  width: 260px;
  margin: 20px auto auto;
}

.patternRight {

  @include for-tablet-down {
    display: none;
  }

  @include for-desktop-up {
    position: absolute;
    right: 0px;
    margin-top: -148px;
    padding: 0px;
  }
}

%circle {
  border-radius: 50%;

  @include for-tablet-down {
    display: none;
  }
}

.filledBigCircle {
  @extend %circle;
  width: 270px;
  height: 270px;
  background: rgba($color: #EAEAEA, $alpha: 0.3);
  margin-top: -291px;
  margin-left: -85px;
}

.emptyBigCircle {
  @extend %circle;
  width: 314px;
  height: 314px;
  border: .5px solid rgba($color: #363636, $alpha: 0.2);
  margin-top: -265px;
  margin-left: -100px;
}

.emptyCircle {
  @extend %circle;
  width: 314px;
  height: 314px;
  border: .5px solid rgba($color: #363636, $alpha: 0.2);
  margin-top: -304px;
  margin-left: -92px;
  opacity: 0.5;
}

.smallBlurRightCircle {
  @extend %circle;
  width: 15px;
  height: 15px;
  background-color: rgba($color: #8224E3, $alpha: 0.5);
  filter: blur(4px);
  margin-top: -30px;
  margin-left: 180px;
}

.imgHeader {
  position: absolute;
  width: 100%;
  margin-left: -1175px;
  margin-top: -233px;

  @include for-tablet-down {
    display: none;
  }
}
