@import '/src/styles/media_queries.scss';

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: #FFFFFF;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);

  @include for-desktop-up {
    padding: 20px 80px 20px 170px !important;
  }

  @include for-tablet-down {
    padding: 20px 24px 10px !important;
  }
}

.atTop {
  padding: 45px 80px 10px 170px !important;
  background: transparent;
  box-shadow: none;
}

.menu {
  display: flex;
}

.skipButton {
  padding: 6px 16px;
  font-size: 14px;

  @include for-desktop-up {
    padding: 12px 26px;
    font-size: 19px;
  }
}

.logo {
  @include for-desktop-up {
    width: 203px !important;
    height: auto !important;
  }

  @include for-tablet-down {
    width: 50px !important;
    height: 50px !important;
  }
}
