@import '/src/styles/media_queries.scss';

%decoStyles {
  position: absolute;
  z-index: -1;
}

.webDevPatternVertical {
  @extend %decoStyles;
  left: 5vw;
  top: 0;
  bottom: auto;

  @include for-tablet-down {
    width: 100px;
    height: 197px;
    top: auto;
    bottom: 2%;
    left: -48px;
  }
}

.webDevPatternHorizontal {
  @extend %decoStyles;  
  right: 0;
  bottom: 10%;

  @include for-tablet-down {
    display: none;
  }
}

.webDevCircles {
  @extend %decoStyles;
  left: 5vw;
  bottom: 0;

  @include for-tablet-down {
    display: none;
  }
}

.webDevLeftSemicircleMobile {
  @extend %decoStyles;
  display: none;

  @include for-tablet-down {
    display: block;
    top: 6%;
    left: 0;
  }
}

.webDevRightSemicircleMobile {
  @extend %decoStyles;
  display: none;

  @include for-tablet-down {
    display: block;
    right: 0;
    bottom: 0;
  }
}

.staffCircleLeft {
  @extend %decoStyles;
  left: 0;
  top: 0;

  @include for-tablet-down {
    display: none;
  }
}

.staffCircleLine {
  @extend %decoStyles;
  right: 9%;
  bottom: 7%;

  @include for-tablet-down {
    display: none;
  }
}

.staffCircleRight {
  @extend %decoStyles;
  right: 15%;
  bottom: 12%;

  @include for-tablet-down {
    display: none;
  }
}

.staffBlurSmallDot {
  @extend %decoStyles;
  right: 8%;
  bottom: 10%;

  @include for-tablet-down {
    display: none;
  }
}

.staffPatternHorizontal {
  @extend %decoStyles;
  right: 5%;
  top: 0;

  @include for-tablet-down {
    width: 197px;
    height: 100px;
    top: auto;
    right: auto;
    bottom: 5%;
    left: -95px;
    transform: rotate(90deg)
  }
}

.staffPatternVertical {
  @extend %decoStyles;
  
  @include for-desktop-up {
    display: none;
  }

  @include for-tablet-down {
    display: block;
    width: 197px;
    height: 100px;
    top: 50%;
    right: -90px;
    transform: rotate(90deg);
  }
}
