@import '/src/styles/theme.scss';
@import '/src/styles/media_queries.scss';

.containerStyle {
  padding: 25px var(--rootContentHorizontalPadding);
  display: flex;
  flex-direction: column;

  & > * {
    margin: 0 auto;
  }

  & > * + * {
    margin-top: 60px;
  }

  .branding {
    list-style-type: none;
    display: flex;
    padding: 0px;
    justify-content: center;
  }

  .pleca {
    font-size: 10px;
    margin: 17px 10px 0px 10px;
  }

  @include for-tablet-up {
    flex-basis: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    @media screen and (min-width: 1180px) {
      align-items: flex-start;
      flex-direction: row;
    }

    & > * {
      margin: 0;
    }
  }

  @include for-phone-only {
    flex-direction: column;

    & > * + * {
      margin-top: 0px;
    }
  }

  %contactLinksColor {
    color: $textColor;
  }

  .logoStyle {
    --primaryColor: #{$textColor};
    --secondaryColor: #{$secondaryColor};
  }

  .privacyPolicy {
    color: $textColor;
  }

  .copyright {
    opacity: 0.85;
  }
}

.socialNetworks {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
  opacity: 0.5;
  margin: 7px auto -5px;

  @include for-tablet-up {
    margin: 7px -7.5px 5px;
  }

  li {
    margin: 5px 7.5px;
  }
}

.contact {
  list-style-type: none;
  margin-top: 50px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: baseline;

  & > li + li {
    padding-top: 20px;
  }

  @include for-tablet-up {
    padding: 0;
    flex-direction: row;
    align-items: center;
    margin: 0;

    & > li {
      padding-top: 0 !important;
      margin: 10px 15px;
    }
  }
}

%contactLinksColor {
  color: $secondaryColor;
}

.contactContentContainer {
  @extend %contactLinksColor;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.iconStyles {
  margin-right: 10px;
}

.iconSocialNetworks {
  @extend .iconStyles;
  margin-right: 24px;
}

.contactContent {
  @extend %contactLinksColor;
  text-align: left;
  font-style: normal;
  line-height: 17px;
}

.logoStyle {
  --primaryColor: #{$secondaryColor};
  --secondaryColor: #{$textColor};
  height: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  @include for-tablet-up {
    flex-basis: 100%;
  }
}

.copyright {
  margin-top: 17px;
  font-size: 10px;
  display: block;
}

.privacyPolicy {
  margin-top: 17px;
  font-size: 10px;
  color: $secondaryColor;
  display: block;
}
