@import '/src/styles/theme.scss';
@import '/src/styles/media_queries.scss';

.howStaffAugmentationSolutionsWork {
  position: relative;
  padding-top: 200px;
  padding-bottom: 200px;
  width: 75%;
  margin: auto;

  @include for-desktop-up {
    padding-top: var(--rootContentMinPadding);
    padding-bottom: var(--rootContentMinPadding);
  }
}

.sectionContent {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;

  @include for-tablet-down {
    padding: 40px 0px 40px 0px;
  }
}

.titleContainer {
  margin-bottom: 0 !important;
}

.titleText {
  font-weight: 600;
  font-size: 60px;
  margin-bottom: 10px;
  text-align: center;

  @include for-tablet-down {
    font-size: 30px;
    margin-bottom: 5px;
  }
}

.colouredTitleText {
  color: #8224E3;
  font-weight: 600;
  font-size: 60px;
  margin-bottom: 10px;
  text-align: center;
  
  @include for-tablet-down {
    font-size: 30px;
  }
}

.descriptionText {
  font-weight: 400;
  font-size: 24px;
  text-align: center;

  @include for-tablet-down {
    font-size: 18px;
  }
}

.horizontalBar {
  width: 100px;
  height: 10px;
  background: #FFC331;
  margin: 40px auto;
  border: none;

  @include for-tablet-down {
    margin: 20px auto;
  }
}

%dotsPattern {
  position: absolute;
  width: 250px;

  @include for-desktop-up {
    width: 15vw;

    @media screen and (min-width: 1024px) and (max-width: 1230px) {
      width: 12vw;
    }
  }
}

.leftPattern {
  @extend %dotsPattern;
  top: 0px;
  transform: rotate(90deg);
  
  @include for-tablet-down {
    width: 200px;
    display: block;
    transform: rotate(0deg);
    margin: auto;
    position: inherit;
  }

  @include for-desktop-up {
    top: 400px;
    left: -5vw;

    @media screen and (min-width: 1024px) and (max-width: 1230px) {
      left: -5vw;
    }
  }
}
