@import '/src/styles/theme.scss';
@import '/src/styles/media_queries.scss';

.ourCompany {
  position: relative;
  overflow: hidden;
}

.ourCompanyBottom {
  @extend .ourCompany;

  overflow: visible;
}

.sectionHeader {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.subheadingText {
  font-weight: 500;
  letter-spacing: 1em;
  opacity: 0.5;
  font-size: 10px;
  margin-bottom: 32px;
  text-transform: uppercase;

  @include for-tablet-up {
    font-size: 13px;
  }
}

.titleText {
  font-size: 32px;

  @include for-desktop-up {
    font-weight: 600;
    font-size: 60px;
    margin-bottom: 10px;
  }
}

.descriptionText {
  max-width: 466px;
  width: 100%;
  font-weight: 300;
  font-size: 15px;
  line-height: 23px;

  @include for-tablet-up {
    font-size: 20px;
    line-height: 36px;
  }
}

.horizontalBar {
  width: 100px;
  height: 10px;
  background: #FFC331;
  margin: 32px 0px 40px;
  border: none;
}

.textBlock {
  width: 100%;
  font-weight: 300;
}

.lastTextBlock {
  @extend .textBlock;

  max-width: 580px;
  line-height: 36px;
  margin: auto;
  font-size: 18px;
  text-align: center;

  @include for-desktop-up {
    font-size: 24px;
    text-align: left;
  }
}

.backgroundImg {
  margin-top: -12.14vw;
  width: 100%;
  padding: 0;
  height: 48.88vw;
  z-index: -2;
}

%dotsPattern {
  width: 217px;
  position: absolute;
  z-index: -1;
  transform: rotate(90deg);

  @include for-desktop-up {
    width: 277px;
  }
}

.topRightDotsPattern {
  @extend %dotsPattern;
  top: 335px;
  right: 0;
  transform: rotate(0deg);

  @media screen and (min-width:1025px) and (max-width: 1250px) {
    top: 40px;
  }

  @include for-tablet-down {
    display: none;
  }
}

.bottomRightDotsPattern {
  @extend %dotsPattern;
  bottom: 111px;
  right: 0;

  @media screen and (min-width:1025px) and (max-width: 1250px) {
    right: -15px;
  }

  @include for-tablet-down {
    display: none;
  }
}

%circle {
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

.filledCircle {
  @extend %circle;
  background: rgba($color: #EAEAEA, $alpha: 0.3);
  width: 102px;
  height: 102px;
  top: 80px;
  right: -42px;

  @include for-desktop-up {
    width: 314px;
    height: 314px;
    top: 46px;
    right: 241px;

    @media screen and (min-width:1025px) and (max-width: 1250px) {
      right: 111px;
    }
  }
}

.emptyCircle {
  @extend %circle;
  border: .5px solid rgba($color: #363636, $alpha: 0.2);
  width: 191px;
  height: 191px;
  top: 25px;
  right: -145px;

  @include for-desktop-up {
    width: 314px;
    height: 314px;
    top: 51px;
    right: 275px;

    @media screen and (min-width:1025px) and (max-width: 1250px) {
      right: 145px;
    }
  }
}

.smallBlurCircle {
  @extend %circle;
  width: 16px;
  height: 16px;
  background-color: rgba($color: #8224E3, $alpha: 0.5);
  filter: blur(6px);
  top: 315px;
  right: 525px;

  @media screen and (min-width:1025px) and (max-width: 1250px) {
    right: 395px;
  }

  @include for-tablet-down {
    display: none;
  }
}

.decoElements {
  position: absolute;
  width: 250px;
  left: 10px;
  top: 20px;

  @media screen and (min-width:1025px) and (max-width: 1250px) {
    left: -100px;
  }

  @include for-tablet-down {
    display: none;
  }
}

.seeMoreButton {
  display: flex;
  gap: 15px;
  align-items: center;

  .text {
    margin: 0;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.3px;
    color: #377DFF;

    @include for-desktop-up {
      font-size: 15px;
    }
  }

  .open {
    transition: transform 100ms ease-in-out;
    transform: rotate(-90deg);
  }
}
