@import '/src/styles/theme.scss';

.containerStyle {
  background-color: $primaryColor;
  color: $secondaryColor;
  padding: var(--rootContentPadding);
}

.iconStyles {
  --primaryColor: #FFFFFF;
}

.logoStyle {
  --primaryColor: #FFFFFF;
  --secondaryColor: #8224E3
}
