@import '/src/styles/theme.scss';

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 30px;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;

  &.menuOpen::before {
    content: "";
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $backgroundColor;
  }
}

.logo {
  --primaryColor: #FFFFFF;
  --secondaryColor: #7035AC;

  &.menuOpen {
    --primaryColor: #7035AC;
    --secondaryColor: #FFFFFF;
  }
}

.bodyMenuOpen {
  overflow: hidden;
}

.menuToggle {
  align-self: flex-end;

  background: none;
  border: 0;
  padding: 7px 10px;
  width: 47px;
  height: 32px;
  display: flex;
  cursor: pointer;

  & > * {
    margin: auto;
  }

  & > .open {
    width: 27px;
    height: 18px;
  }

  & > .close {
    width: 15px;
    height: 15px;
  }
}

.menu {
  position: fixed;
  top: 63px;
  left: 0;
  right: 0;
  bottom: 10px;
  overflow: auto;
  margin: 0;
}
