@import '/src/styles/media_queries.scss';
@import '/src/styles/theme.scss';
@import './theme_variants.scss';

.bodyMenuOpen {
  overflow: hidden;
}

.rootWithNavBar {
  --rootContentExtraPaddingTop: 70px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px var(--rootContentHorizontalPadding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  visibility: hidden;

  &.hidden {
    display: none;
  }

  &.initialized {
    visibility: visible;
    transition:
      all 150ms linear,
      backdrop-filter 0ms,
      padding-left 0ms,
      padding-right 0ms
    ;
  }

  &.atTop, &.menuOpen {
    padding-top: 20px;
    padding-bottom: 0;
  }

  &.menuOpen {
    --textColor: #363636;
  }

  &.menuOpen::before {
    content: "";
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
  }

  @include for-tablet-down {
    left: -80px;
  }
}

.logoLink:focus {
  outline: auto;
}

.logo {
  width: 203px;
  height: auto;
}

.menuToggle {
  align-self: flex-end;
  background: none;
  border: 0;
  padding: 7px 10px;
  width: fit-content;
  height: fit-content;
  display: flex;
  cursor: pointer;

  @include for-desktop-up {
    display: none;
  }

  & > * {
    margin: auto;
  }

 .open {
    width: 27px;
    height: auto;

    &.white {
      --primaryColor: #{$secondaryColor};
    }
  }

  .close {
    width: 24px;
    height: auto;
    z-index: 1;
  }
}

.menu {
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 10px;
  overflow: auto;
  margin: 0;

  @include for-desktop-up {
    overflow: visible;
    position: relative;
    top: -10px;
    height: calc(100% + 20px);
  }
}

.header.atTop .menu {
  @include for-desktop-up {
    top: -20px;
  }
}

.nav {
  @include for-desktop-up {
    align-self: stretch;
  }
}
