@import '/src/styles/theme.scss';

%menuToggleIconLight {
  --primaryColor: #{$secondaryColor};
}

%menuToggleIconDark {
  --primaryColor: #{$textColor};
}


.header, .variant_transparent, .variant_dark {
  --textColor: #{$textColor};
  .menuToggle .open { @extend %menuToggleIconDark; }
}

.variant_scroll {
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
}

.variant_solid {
  // Elements behind a backdrop-filter get clipped, so we need
  // to remove the filter when the menu is open. We also need
  // to disable the transition so that the property is removed
  // immediately.
  &:not(.menuOpen) {
    backdrop-filter: blur(3px);
  }
}

.variant_solid.variant_dark-bg {
  background-color: rgba($color: $primaryColor, $alpha: .9);
}

.variant_light {
  --textColor: #{$secondaryColor};
  .menuToggle .open { @extend %menuToggleIconLight; }
}

.variant_solid.variant_light-bg {
  background-color: rgba($color: $secondaryColor, $alpha: .9);
}

.header.menuOpen {
  .menuToggle .close { @extend %menuToggleIconLight; }
}
