@import '/src/styles/theme.scss';
@import '/src/styles/media_queries.scss';

.getYourQuoteSection {
  display: flex;
  flex-direction: row;
  height: 971px;
  background: rgba($color: $textColor, $alpha: 1.0);
  color: rgba($color: #FFFFFF, $alpha: 1.0);
  padding: 25em 10em;

  @include for-tablet-down {
    padding-top: 300px;
    height: 860px;
    flex-direction: column;
  }
}

.subheadingText {
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 32px;
  font-size: 16px;
  
  @include for-tablet-down {
    text-align: center;
  }

  @include for-phone-only {
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
  }
}

h2 {
  font-size: 80px;
  font-weight: 900;

  @include for-tablet-down {
    text-align: center;
    font-size: 42px;
  }

  @include for-phone-only {
    text-align: center;
    font-size: 32px;
  }
}

.getYourQuoteButton {
  border-radius: 4px;
  width: 334px;
  height: 58px;
  margin-top: 70px;
  margin-left: 220px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;

  @include for-tablet-down {
    margin: -11px -167px;
    position: relative;
    top: 86%;
    left: 50%;
  }
}

.subText {
  line-height: 32px;
  font-size: 14px;
  display: block;
  margin-left: 240px;
  opacity: 0.80;

  @include for-tablet-down {
    margin: -11px -167px;
    position: relative;
    top: 144%;
    left: 53%;
  }

  @include for-phone-only {
    margin: -11px -167px;
    position: relative;
    top: 144%;
    left: 56%;
  }
}

li {
  list-style-type: none;
}
