@import '/src/styles/media_queries.scss';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 190vw;
  padding-bottom: 30vw;

  @media screen and (min-width: 340px) {
    min-height: 170vw;
    padding-bottom: 10vw;
  }

  @media screen and (min-width: 400px) {
    min-height: 27vw;
    padding-bottom: 17vw;
  }

  @include for-tablet-up {
    flex-direction: row-reverse;
    justify-content: center;
    padding: 7vw 12vw;
  }
}

.backgroundMobile,
.background {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.backgroundMobile {
  @media screen and (min-width: 400px) {
    display: none;
  }
}

.background {
  display: none;

  @media screen and (min-width: 400px) {
    display: block;
  }
}

.content {
  display: flex;
  flex-direction: column;

  @include for-tablet-up {
    flex-grow: 0;
  }

  h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    color: #FFFFFF;
    max-width: 265px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    @include for-tablet-up {
      text-align: start;
      margin-left: 0;
      margin-right: 0;
    }

    @include for-desktop-up {
      font-size: 60px;
      max-width: 492px;
    }
  }

  p {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.5;
    text-align: center;
    margin: 0 -10px;

    @include for-tablet-up {
      text-align: start;
      margin: 0;
    }

    @include for-desktop-up {
      font-size: 20px;
    }
  }

  hr {
    width: 100px;
    height: 10px;
    background: #FFC331;
    border: 0;
    margin: 32px auto 25px;

    @include for-tablet-up {
      margin-left: 0;
    }
  }

  .button {
    width: 100%;
    max-width: 260px;
    margin: 0 auto;

    @include for-tablet-up {
      margin-left: 0;
    }
  }
}

.illustration {
  width: 278px;
  height: auto;
  margin: -60px auto 40px;

  @include for-tablet-up {
    flex-shrink: 0;
    margin: -160px 0 0;
  }

  @include for-desktop-up {
    flex-shrink: 0;
    width: 396px;
    margin: -180px 0 0;
  }
}
