@import '/src/styles/media_queries.scss';


.header {
  text-align: center;
}

.keyFeatured {
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 1em;
  text-transform: uppercase;
  color: #363636;
  opacity: 0.5;
  margin-bottom: 32px;

  @include for-tablet-down {
    font-size: 10px;
  }
}

.titleText {
  font-weight: 600;
  line-height: 100%;

  @include for-tablet-down {
    font-size: 32px;
  }
}

.horizontalBar {
	width: 100px;
	height: 10px;
	background: #FFC331;
	border: none;
  margin: 32px auto 80px;
}

.benefitsContainer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  justify-content: center;

  @include for-phone-only {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.benefit {
  flex: 0 1 0;
  text-align: center;
  margin-inline-start: 100px;

  @include for-phone-only {
    width: 100%;
    flex: 1 0 100%;

    &:not(:last-of-type) {
      margin-bottom: 50px;
    }
  }
}

// Benefit component

.iconCircle {
  width: 100px;
  margin-bottom: 15px;

  @include for-tablet-up {
    width: 150px;
  }

  @include for-desktop-up {
    width: 200px;
  }
}

// Decoration

.background {
  z-index: -1;
}
