@import '/src/styles/media_queries.scss';

.container {
  padding: 10vh 0 40vh 0;

  @include for-big-desktop-up {
    padding: 10vh 0 50vh 0;
  }

  @include for-tablet-down {
    padding: 10vh 0 15vh 0;
  }

  @include for-phone-only {
    padding: 5vh 0;
  }
}

.header {
  text-align: center;
}

.keyFeatured {
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 1em;
  text-transform: uppercase;
  color: #363636;
  opacity: 0.5;
}

.titleText {
  font-weight: 600;
  font-size: 60px;
  color: #363636;
  line-height: 100%;
}

.descriptionText {
  max-width: 300px;
}

.horizontalBar {
	width: 100px;
	height: 10px;
	background: #FFC331;
	border: none;
}

.row {
  height: 200px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 20px;
}

.row2 {
  display: flex;
  padding: 0 10vw;
  margin-bottom: 20px;
}

.col2Items {
  width: 50%;
  text-align: center;
}

.col3Items {
  width: 33%;
  text-align: center;
}

.iconCircle {
  @include for-tablet-down {
    max-width: 100px;
  }
}

.background {
  bottom: 0;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: -1;
}
