@import '/src/styles/theme.scss';
@import '/src/styles/media_queries.scss';

$grayColor: #363636;

.values {
  position: relative;
  padding-top: 60px;
  padding-bottom: 115px;
  overflow: hidden;
}

.sectionContent {
  padding-top: 50px;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.subheadingText {
  font-weight: 500;
  letter-spacing: 3px;
  color: rgba($color: #363636, $alpha: 0.5);
  font-size: 10px;
  margin: 0px auto 32px auto;
  text-transform: uppercase;

  @include for-tablet-up {
    font-size: 13px;
  }
}

.titleText {
  font-size: 32px;
  margin-left: auto;
  margin-right: auto;

  @include for-desktop-up {
    font-weight: 600;
    font-size: 60px;
    margin-bottom: 10px;
  }
}

.horizontalBar {
  width: 100px;
  height: 10px;
  background: #FFC331;
  margin: 32px auto 40px auto;
  border: none;
}

.valueList {
  --repeat: auto-fit;

  @include for-desktop-up {
    --repeat: 3;
  }

  list-style: none;
  padding-left: 0px;
  display: grid;
  grid-template-columns: repeat(var(--repeat), minmax(250px, 1fr));
  column-gap: 60px;
  row-gap: 30px;
  margin: auto;

  @include for-tablet-up {
    row-gap: 70px;
  }
}

.valueBox {
  background: #FFFFFF;
  border: 1px solid #E1E1E1;
  border-radius: 5px;
  z-index: 1;
  width: 100%;
  height: 100%;
  min-height: 300px;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
  padding: 15px;
  display: flex;
}

.valueContainer {
  text-align: center;
  margin: auto;
}

.valueTitle {
  line-height: 44px;
  text-align: center;
  font-size: 30px;
}

.valueDescription {
  line-height: 24px;
  text-align: center;
  font-size: 20px;
  opacity: 0.5;
}

%circle {
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

.filledCircle {
  @extend %circle;
  background: rgba($color: #EAEAEA, $alpha: 0.3);
  
  @include for-desktop-up {
    width: 376px;
    height: 376px;
    top: 704px;
    right: -188px;
  }

  @include for-tablet-down {
    width: 179px;
    height: 179px;
    right: 27px;
    bottom: 30px;
  }
}

.emptyCircle {
  @extend %circle;
  border: .5px solid rgba($color: $grayColor, $alpha: 0.2);
  
  @include for-desktop-up {
    width: 376px;
    height: 376px;
    top: 724px;
    right: -158px;
  }

  @include for-tablet-down {
    width: 179px;
    height: 179px;
    right: 12px;
    bottom: 30px;
  }
}

.smallCircle {
  @extend %circle;
  background-color: rgba($color: #8224E3, $alpha: 0.5);

  @include for-desktop-up {
    width: 17px;
    height: 17px;
    top: 1054px;
    right: 136px;
    filter: blur(6px);
  }

  @include for-tablet-down {
    width: 8px;
    height: 8px;
    right: 34px;
    bottom: 60px;
    filter: blur(4px);
  }
}

%dotsPattern {
  position: absolute;
  z-index: -1;

  @include for-desktop-up {
    width: 277px;
  }

  @include for-tablet-down {
    width: 217px;
  }
}

.topRightPattern {
  @extend %dotsPattern;
  top: 25%;
  right: -65px;

  @include for-tablet-down {
    transform: rotate(90deg);
  }
  
  @include for-desktop-up {
    transform: rotate(0deg);
    top: 0;
    right: 50px;
  }
}

.middleLeftPattern {
  @extend %dotsPattern;
  transform: rotate(90deg);
  
  @include for-desktop-up {
    top: 722px;
    left: -44px;
  }

  @include for-tablet-down {
    top: auto;
    bottom: 39%;
    left: -95px;
  }
}

.filledSmallCircle {
  @extend %circle;
  background: rgba($color: #EAEAEA, $alpha: 0.3);

  @include for-desktop-up {
    width: 76px;
    height: 76px;
    top: 59px;
    left: 150px;
  }

  @include for-tablet-down {
    width: 201px;
    height: 201px;
    top: 130px;
    left: -126px;
  }
}

.emptySmallCircle {
  @extend %circle;
  border: .5px solid rgba($color: #363636, $alpha: 0.2);

  @include for-desktop-up {
    width: 139px;
    height: 139px;
    top: 45px;
    left: 72px;
  }

  @include for-tablet-down {
    width: 201px;
    height: 201px;
    top: 121px;
    left: -109px;
  }
}

.smallBlurLeftCircle {
  @extend %circle;
  background-color: rgba($color: #8224E3, $alpha: 0.5);
  filter: blur(3px);

  @include for-desktop-up {
    width: 14px;
    height: 14px;
    top: 155px;
    left: 60px;
  }

  @include for-tablet-down {
    width: 9px;
    height: 9px;
    top: 150px;
    left: 57px;
  }
}

.bottomImg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
