@import '/src/styles/media_queries.scss';

.sectionContainer {
  position: relative;
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;

  @include for-desktop-up {
    padding-top: var(--rootContentMinPadding);
    padding-bottom: var(--rootContentMinPadding);
  }

  @include for-tablet-down {
    overflow: hidden;
  }
}

.serviceDetails {
  position: relative;
  margin-top: -50px;

  @include for-tablet-up {
    margin-top: -100px;
  }

  @include for-desktop-up {
    margin-top: -180px;
  }

  @include for-big-desktop-up {
    margin-top: -220px;
  }
}

.howItWorks {
  @include for-desktop-up {
    margin-bottom: 75px;
  }
}
