@import '/src/styles/media_queries.scss';
@import '/src/styles/theme.scss';

.section {
  position: relative;
}

.outsourcingReasons {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  margin-top: 100px;
  
  @include for-desktop-up {
    gap: 32px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap:10px;
}

.title {
  font-weight: 600;
  font-size: 50px;
  line-height: 100%;
  text-align: center;
  margin: 0;
  padding: 0 100px;

  @include for-desktop-up {
    font-size: 60px;
    padding: 0 150px;
  }
}

.subtitle {
  font-weight: 300;
  font-size: 20px;
  line-height: 120%;
  opacity: 0.5;
  text-align: center;
  margin: 0;
  padding: 0 100px;
}

.horizontalBar {
  width: 100px;
  height: 10px;
  background: #FFC331;
  border: none;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;

  @include for-desktop-up {
    gap: 30px;
    padding: 0 80px 0 80px;
  }


  & > .violetGradientText {
    font-weight: 600;
    font-size: 30px;
    background: -webkit-linear-gradient(rgba(107,103,233,1), rgba(130,36,227,1));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  & > p {
    font-weight: 300;
    font-size: 20px;
    line-height: 150%;
    margin: 0;

    @include for-desktop-up {
      font-size: 24px;
    }

    & > .boldText {
      font-weight: 600;
      font-size: 20px;
      line-height: 150%;

      @include for-desktop-up {
        font-size: 24px;
      }
    }
  }
}

.dotsPattern {
  position: absolute;
  z-index: -1;
  top: 50px;
  left: -150px;
  rotate: 90deg;

  @include for-desktop-up {
    width: 277px;
    top: 100px;
    left: 0px;
  }
}

.decoElements {
  position: absolute;
  z-index: -1;
  top: 500px;
  right: -150px;

  @include for-desktop-up {
    width: 277px;
    top: 400px;
    right: -100px;
  }
}

.backgroundImg {
  width: 100%;
  padding: 0;
  z-index: -2;
}
