@import '/src/styles/media_queries.scss';


.section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 150px 0;

  .background {
    background-image: url('../../../assets/about_us/areas_of_expertise/blue-gradient-background.svg');
    background-size: cover;
    height: 170%;
    left: 0;
    position: absolute;
    top: -25%;
    width: 100%;
    z-index: -1;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;

    .title {
      color: #FFFFFF;
      text-align: center;
      padding: 20px;
    }

    .horizontalBar {
      width: 100px;
      height: 10px;
      background: #FFC331;
      border: none;
      margin: 0;
    }

    .textContainer {
      display: flex;
      flex-direction: column;

      .normalText {
        font-weight: 300;
        line-height: 150%;
        color: #FFFFFF;
        font-size: 15px;
        text-align: center;
        margin-bottom: 0;
  
        @include for-desktop-up {
          font-size: 20px;
        }

        .boldText {
          font-weight: 600;
        }
      }
    }

    .seeMoreButton {
      display: flex;
      gap: 15px;
      align-items: center;
    
      .text {
        margin: 0;
        font-weight: 600;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: -0.3px;
        color: #FFFFFF;
    
        @include for-desktop-up {
          font-size: 15px;
        }
      }
    
      .arrow {
        filter: brightness(10);
      }
      
      .open {
        transition: transform 100ms ease-in-out;
        transform: rotate(-90deg);
      }
    }
  }
}