@import '/src/styles/media_queries.scss';

.growToday {
  display: flex;
  padding-top: calc(125px + var(--rootContentMinPadding));
}

.sectionContainer {
  max-width: 960px;
  width: 100%;
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;

  @include for-phone-only {
    grid-template-columns: repeat(1, 1fr);
  }
}

.sectionHeader {
  width: 100%;
  text-align: right;
  margin: auto 0 auto 20px;

  @include for-tablet-down {
    text-align: center;
  }
}

.subheadingText {
  font-weight: 500;
  letter-spacing: 3px;
  color: rgba($color: #363636, $alpha: 0.5);
  font-size: 13px;
  line-height: 13px;
  margin-bottom: 32px;
  text-transform: uppercase;
}

.titleText {

  @include for-desktop-up {
    font-weight: 600;
    font-size: 60px;
    margin-bottom: 10px;
  }
}

.descriptionText {
  font-weight: 300;
  font-size: 20px;
  color: rgba($color: #363636, $alpha: 0.5);
}

.horizontalBar {
  width: 100px;
  height: 10px;
  background: #FFC331;
  border: none;
  display: inline-block;
}

.sectionContent {
  font-size: 24px;
  line-height: 36px;
  text-align: left;
  list-style-image: url('../../../assets/staff_augmentation/bullet_points.svg');
  
  @include for-tablet-up {
    margin-left: 40px;
  }
}

.freeQuoteButton {
  width: 260px;
  margin: 35px auto auto;
}
