@import '/src/styles/theme.scss';
@import '/src/styles/media_queries.scss';

.skill {
  margin: 30px auto 67px auto;
  filter: grayscale(1) contrast(0.5) brightness(1.1) opacity(.6);
  transition: filter ease-in-out 200ms;

  &:hover {
    filter: grayscale(0) contrast(1) brightness(1) opacity(1);
  }
}

.logoSkill {
  height: 50px;
}

@include for-tablet-down {
  .logoSkill {
    margin-bottom: 20px;
  }

  .skill {
    margin: 0 32px 0px 32px;
    flex: 0 0 auto;
  }
}

@include for-phone-only {
  .logoSkill {
    margin-bottom: 50px;
  }
}
