@import "/src/styles/theme.scss";
@import "/src/styles/media_queries.scss";

.headerContainer {
  min-height: 100vh;
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
  overflow-x: hidden;
}

.backgroundContainer {
  position: absolute;
  top: 0;
  bottom: 10%;
  left: 0;
  right: 0;
  z-index: -1;

  @include for-desktop-up {
    bottom: 15%;
  }
}

.background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.dotsPattern {
  position: absolute;
  left: 55%;
  top: 30%;
  z-index: -1;

  @include for-desktop-up {
    left: 77%;
    top: 5%;
  }
}

.decorationElementsPattern {
  position: absolute;
  left: 10%;
  top: 30%;
  z-index: -1;

  @include for-desktop-up {
    left: 38%;
    top: 30%;
    transform: scale(1.10);
  }
}

.blurredDecorationElements {
  position: absolute;
  left: 6%;
  top: 8%;
  z-index: -1;

  @include for-desktop-up {
    left: 15%;
    top: 22%;
  }
}

.imageLogo {
  display: block;
  margin: 0 auto;
  width: inherit;

  @include for-desktop-up {
    margin: 0;
    width: 65%;
  }
}

.columnsContainer {
  @include for-desktop-up {
    display: flex;
  }
}

.leftSideContainer {
  flex-grow: 1;

  @include for-desktop-up {
    margin-right: 8%;
  }
}

.rightSideContainer {
  align-self: flex-start;
  margin-top: 150px;

  @include for-desktop-up {
    width: 41%;
    flex-shrink: 0;
    margin-top: 50px;
    align-self: center;
  }
}

.tagName {
  font-size: 12px;
  border-radius: 3px;
  padding: 4px 20px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
}

.tagNameContainer {
  margin: 12px 0;
  display: flex;
  justify-content: center;

  @include for-desktop-up {
    margin-top: clamp(10px, 1.3vw, 60px);
    margin-bottom: 32px;
    justify-content: flex-start;
  }
}

.title {
  font-size: 36px;
  font-weight: normal;
  line-height: 40px;
  color: #fff;
  text-align: center;
  word-break: break-word;

  @include for-desktop-up {
    text-align: left;
    font-size: 60px;
    line-height: 62px;
  }

  @media screen and (max-width: 1550px) {
    font-size: 55px;
    line-height: 58px;
  }

  @media screen and (max-width: 1400px) {
    font-size: 50px;
    line-height: 55px;
  }
}

.subTitle {
  > * {
    font-size: 17px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    font-weight: normal;

    @include for-desktop-up {
      font-size: 23px;
      text-align: left;
    }

    @media screen and (max-width: 1550px) {
      font-size: 18px;
    }
  }
}

.separator {
  margin: 0 auto;
  width: 100px;
  height: 10px;
  background-color: #FFC331;

  @include for-desktop-up {
    margin: 32px 0;
  }
}

.hideOnTabletDown {
  @include for-tablet-down {
    display: none;
  }
}

.hideOnDesktopUp {
  @include for-desktop-up {
    display: none;
  }
}

.quoteContainer {
  position: relative;
  border-radius: 9px;
  background-color: #fff;
  width: 100%;
  padding: 100px 26px 89px 26px;
}

.quote {
  display: block;
  color: #363636;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  line-height: 36px;
  word-break: break-word;

  > b {
    background: linear-gradient(90deg, #6B67E9 11.76%, #8224E3 89.05%);
    background-clip: text;
    color: transparent;
  }

  &::before, &::after {
    content: "";
  }
}

.shapeTriangle {
  margin: 0 auto;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #fff;
}

.avatarContainer {
  top: 0;
  left: 50%;
  transform: translate(-50%, -70%);
  position: absolute;
  background-color: rgba(234, 234, 234, 0.5);
  border-radius: 50%;
  width: 98px;
  height: 98px;

  @media screen and (min-width: 1250px) {
    width: 137px;
    height: 137px;
  }

  @media screen and (min-width: 1550px) {
    width: 175px;
    height: 175px;
  }

  &::before {
    content: "";
    position: absolute;
    top: -2%;
    left: -7%;
    width: 95%;
    height: 95%;
    border-radius: 50%;
    background: linear-gradient(to right, #6B67E9, #8224E3);
    padding: 1px;
    border-radius:50%;
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
  }
}

.avatarImageContainer {
  position: relative;
  top: 7%;
  left: 5%;
  width: 83%;
  height: 83%;
  border-radius: 50%;
  overflow: hidden;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.meetingWrapper {
  margin: 0;
  filter: drop-shadow(0px 15px 15px rgba(0, 0, 0, 0.2));

  @include for-desktop-up {
    margin-left: -70px;
    margin-right: -70px;
  }
}

.meetingContainer {
  background-color: #fff;
  padding: 62px 25px 25px 25px;
  border-radius: 5px;
  clip-path: polygon(0 0, 100% 20%, 100% 100%, 0% 100%);
  margin-top: 60px;

  @include for-desktop-up {
    padding: 45px 70px 29px 70px;
    margin-top: 45px;
  }
}

.meetingTitle {
  color: #377DFF;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}

.meeting {
  line-height: 20px;
  margin: 0;
}

.scheduleButton {
  box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.1);
  margin-top: 35px;
  width: 100%;
  font-size: 24px;
}

.alternativeSchedule {
  font-size: 18px;
  margin-top: 24px;
  text-align: center;
  color: #fff;
}

.scheduleFormButton {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
}
