@import '/src/styles/theme.scss';
@import '/src/styles/base_link.scss';

$primaryVariantBackground: #377DFF;
$primaryVariantHoverBackground: #2564D9;
$secondaryVariantBackground: transparent;
$lightTextBorder: #377DFF;
$darkTextBorder: #FFFFFF;

.button {
  display: inline-flex;
  text-align: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  border: 2px solid transparent;
  background-clip: padding-box;
  border-radius: 4px;
  font-weight: 600;
  padding: 10px 15px;
  transition: all ease-in-out 150ms;
  font-size: 14px;

  & > *:first-child {
    margin-left: auto;
  }

  & > *:last-child {
    margin-right: auto;
  }

  &:disabled, &[disabled] {
    cursor: default !important;
    pointer-events: none;
  }

  &:hover {
    text-decoration: none;
  }
}

%buttonFocus {
  outline: none;

  &:hover, &:focus {
    border-color: $textColor;

    &.variant_dark {
      border-color: $backgroundColor;
    }
  }
}

.variant_icon {
  background-color: transparent;
}

.variant_primary {
  @extend %buttonFocus;
  background-color: $primaryVariantBackground;
  color: $secondaryColor;

  &:hover, &:focus {
    background-color: $primaryVariantHoverBackground;
  }
}

.variant_secondary {
  outline: none;
  background-color: $secondaryVariantBackground;
  color: $lightTextBorder;
  border-color: $lightTextBorder;

  &.variant_dark {
    background-color: $secondaryVariantBackground;
    border-color: $darkTextBorder;
    color: $darkTextBorder;
  }

  &:hover, &:focus {
    box-shadow: 0 0 0 1px $lightTextBorder;

    &.variant_dark {
      box-shadow: 0 0 0 1px $darkTextBorder;
    }
  }
}

.variant_disabled {
  @extend %buttonFocus;
  background-image: none;
  background-color: $disabledButtonBackground;
  color: $secondaryColor;

  &.variant_secondary {
    background: $secondaryDisabledButtonBackground;
  }
}

.button:not(.variant_link):disabled {
  @extend .variant_disabled;
}

.variant_link {
  @include baseLink;
  padding: 0;
  background-color: transparent;
  border: none;
  font-weight: inherit;
  text-align: left;
}

.variant_focus-scale {
  border: none;
  outline: none;

  &:hover, &:focus {
    transform: scale(103%);
    transform-origin: 50% 50%;
    transform-box: fill-box;
  }
}

.variant_focus-gradient {
  border: none;
  outline: none;

  transition: background-image 150ms ease;

  &:hover, &:focus {
    background-color: transparent;
    background-image: linear-gradient(180deg, #377DFF 0%, #2BD4FA 100%);
  }
}

.iconLeft, .iconRight {
  display: flex;
  align-items: center;
}

.iconLeft {
  margin-right: 10px;
}

.iconRight {
  margin-left: 10px;
}

.as_a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
