@import "/src/styles/theme.scss";
@import "/src/styles/media_queries.scss";

.headerContainer {
  min-height: calc(100vh + 90px);
  position: relative;
  padding-bottom: 80px;
  overflow-x: hidden;

  @include for-phone-only {
    padding: 30px !important;
  }

  @include for-tablet-up {
    @media screen and (max-width: 1320px) {
      padding: 30px 70px 80px !important;
    }
  }
}

.backgroundContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -400px;
  z-index: -1;

  @include for-tablet-up {
    right: -300px;
  }

  @include for-desktop-up {
    top: 0;
    right: 0;
  }
}

.dotsPattern {
  position: relative;
  display: block;
  z-index: -1;
  transform: rotate(90deg);
  bottom: -66px;
  left: 50px;
  width: 140px;

  @include for-tablet-down {
    display: none;
  }}

.imageLogo {
  display: block;
  margin: 0 auto;
  width: 52px !important;
  overflow: hidden;

  @include for-tablet-up {
    height: auto !important;
    width: 30% !important;
  }

  @include for-desktop-up {
    transform: translateX(-10px);
    margin: 0 0 40px;
  }
}

.columnsContainer {
  display: flex;
  flex-direction: column;

  @include for-desktop-up {
    flex-direction: row;
  }
}

.separator {
  display: inline-block;
  height: 10px;
  width: 100px;
  background-color: #FFC331;
  border: 0;

  @include for-desktop-up {
    margin: 30px 0 0;
  }
}

.leftSideContainer {
  text-align: center;

  @include for-desktop-up {
    text-align: unset;
    flex-grow: 1;
    margin-right: 5%;
    padding: 0;
    background: transparent;
  }
}

.rightSideContainer {
  margin-top: 30px;

  @include for-desktop-up {
    margin: 0;
    width: 510px;
    flex-shrink: 0;
  }
}

.title {
  font-size: 42px;
  color: #fff;
  word-break: break-word;
  margin-top: 20px;
  font-weight: normal;

  @include for-desktop-up {
    margin-top: 50px;
    font-size: 60px;
    line-height: 62px;
  }
}

.subTitle {
  margin-bottom: 0;

  > * {
    font-size: 17px;
    color: rgba(255, 255, 255, 0.7);

    @include for-desktop-up {
      font-size: 24px;
    }
  }
}

.alternativeSchedule {
  font-size: 18px;
  margin: 0;
  margin-top: 15px;
  color: #fff;
  text-align: center;

  @include for-phone-only {
    font-size: 16px;
  }
}

.scheduleFormButton {
  font-size: 18px;
  color: #fff;
  width: auto;
  font-weight: bold;
  text-decoration: underline;

  @include for-phone-only {
    font-size: 16px;
  }
  @include for-desktop-up {
    margin-left: 0;
    margin-right: 0;
  }
}

.formWrapper {
  margin-top: 60px;
  margin-bottom: 40px;
  max-width: 598px;
  margin-right: auto;
  margin-left: auto;
  position: relative;

  @include for-desktop-up {
    margin-right: 30px;
    margin-left: 0;
  }
}

.imageSubject {
  color: #fff;
  font-size: 11px;
  position: absolute;
  top: 0;
  right: -110px;
  transform: rotate(270deg) translate(-85%, 0);
  opacity: 0.7;
}
