@import "/src/styles/theme.scss";
@import "/src/styles/media_queries.scss";

.headerContainer {
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  margin-bottom: 10vw;

  @include for-tablet-down {
    padding: 0 !important;
  }
}

.backgroundContainer {
  position: absolute;
  top: 220px;
  bottom: 0;
  left: 0;
  right: -80px;
  z-index: -1;

  @include for-tablet-up {
    right: 0px;
  }

  @include for-desktop-up {
    top: 0;
    right: 0;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(172, 172, 172, 0.87);
    mix-blend-mode: lighten;
    opacity: 0.3;
  }
}

.circles {
  position: absolute;
  top: 5px;
  left: -15px;
  z-index: -1;
  display: none;

  @include for-desktop-up {
    display: block;
  }
}

.dotsPattern {
  position: absolute;
  z-index: -1;
  top: 265px;
  left: -60px;

  @media screen and (max-width: 490px) {
    display: none;
  }

  @include for-desktop-up {
    transform: rotate(90deg);
    top: auto;
    left: 35%;
    bottom: -50px;
    width: 140px;
  }
}

.imageLogo {
  display: block;
  margin: 0 auto;

  @include for-desktop-up {
    margin: 0;
    width: 65% !important;
    height: auto !important;
  }
}

.columnsContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @include for-desktop-up {
    flex-direction: row;
    min-height: 65vh;
  }
}

.leftSideContainer {
  background: linear-gradient(180deg, #377DFE 0%, #2C4397 100%);
  padding: 40px 30px 20px;

  @include for-desktop-up {
    flex-grow: 1;
    padding: 0;
    background: transparent;
    margin-right: 8%;
  }
}

.rightSideContainer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  max-width: 166px;
  @include for-desktop-up {
    width: 440px;
    flex-shrink: 0;
  }
}

.title {
  font-size: 20px;
  font-weight: normal;
  color: #fff;
  text-align: center;
  word-break: break-word;
  margin-top: 50px;

  @media screen and (min-width: 376px) {
    font-size: 30px;
  }

  @include for-desktop-up {
    text-align: left;
    font-size: 60px;
    line-height: 62px;
  }
}

.subTitle {
  margin: 50px auto;

  > * {
    font-size: 17px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    font-weight: normal;

    @include for-desktop-up {
      font-size: 24px;
      text-align: left;
    }
  }
}

.desktopClutch {
  margin-left: 9px;
}

.separator {
  margin: 15px auto 25px;
  width: 100px;
  height: 5px;
  background-color: #FFC331;
}

.hideOnTabletDown {
  @include for-tablet-down {
    display: none;
  }
}

.hideOnDesktopUp {
  @include for-desktop-up {
    display: none;
  }
}

.ctaContainer {
  @include for-desktop-up {
    background-color: #1313134D;
    border-radius: 8px;
    padding: 30px;
    padding-top: 35px;
    position: absolute;
    bottom: 7%;
  }
}

.ctaButtonContainer {
  border: 1px solid #E0E0E04D;
  padding: 15px;
  border-radius: 3px;
  max-width: 373px;
  margin: 0 auto;
}

.scheduleButton {
  font-family: Inter, sans-serif;
  box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.1);
  width: 100%;
  font-size: 15px;

  @include for-tablet-up {
    font-size: 20px;
  }
}

.alternativeSchedule {
  font-size: 18px;
  margin: 0;
  margin-top: 15px;
  color: #fff;
  display: none;

  @include for-desktop-up {
    display: block;
  }
}

.scheduleFormButton {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.arrowDown {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 35px auto 50px;
}


.formWrapper {
  max-width: 598px;
  margin-bottom: 40px;
}

.imageSubject {
  text-align: right;
  font-size: 11px;
  margin-top: 29px;
  color: #fff;
  margin-bottom: 50px;
}
