@import '/src/styles/media_queries.scss';

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding-left: var(--rootContentHorizontalPadding);
  padding-right: var(--rootContentHorizontalPadding);
}

.separator {
  width: 65%;
  height: 1px;
  background: #e1e1e1;
  border: none;
  margin: 0;
}

%level {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: #f9f9f9;
  border-radius: 5px;
  padding: 34px 15% 22px 15%;
  margin: 0;

  @include for-desktop-up {
    flex-direction: row;
    gap: 40px;
  }
}

.level1 {
  @extend %level;

  width: 100%;
  clip-path: polygon(100% 0, 95% 100%, 5% 100%, 0 0);

  @include for-desktop-up {
    padding-left: 21%;
    padding-right: 14%;
  }
}

.level2 {
  @extend %level;

  width: 91%;
  clip-path: polygon(99.25% 0, 93.75% 100%, 6.25% 100%, 0.85% 0);

  @include for-desktop-up {
    padding-left: 16.5%;
    padding-right: 16%;
  }
}

.level3 {
  @extend %level;

  width: 84%;
  clip-path: polygon(97% 0, 91% 100%, 8.75% 100%, 3% 0);

  @include for-desktop-up {
    padding-left: 13%;
    padding-right: 13%;
  }
}

.level4 {
  width: 92%;
  background-color: #fff;
  padding: 0 20px 20px;
  margin: 0;
  clip-path: polygon(93.75% 0, 86.75% 80%, 50% 100%, 13% 80%, 6.1% 0);

  .level4Content {
    @extend %level;

    width: 100%;
    height: 100%;
    padding-left: 15%;
    padding-bottom: 100px;
    padding-right: 15%;
    clip-path: polygon(93.75% 0, 86.75% 80%, 50% 100%, 13% 80%, 6.1% 0);
    z-index: 10;
    background-color: #f9f9f9;

    @include for-tablet-up {
      padding-bottom: 60px;
    }

    @include for-desktop-up {
      padding-left: 13%;
      padding-right: 13%;
    }
  }

  @media screen and (min-width: 400px) {
    width: 89.25%;
  }

  @media screen and (min-width: 500px) {
    width: 86.75%;
  }

  @media screen and (min-width: 600px) {
    width: 85.75%;
  }

  @include for-tablet-up {
    width: 84%;

    @media screen and (min-width: 850px) {
      width: 83%;
    }
  }

  @include for-desktop-up {
    width: 81.5%;

    @include for-regular-desktop-down {
      width: 82.5%;
    }
  }
}

.percentage {
  width: 100%;
  color: #377dff;
  text-align: center;

  h4 {
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 0;

    @include for-tablet-down {
      font-size: 32px;
    }
  }

  p {
    font-size: 12px;
    font-weight: 300;
  }

  @include for-desktop-up {
    max-width: 150px;
    text-align: right;
  }
}

.content {
  width: 100%;
  text-align: center;

  h5 {
    font-size: 16px;
    font-weight: 500;
  }

  p {
    font-weight: 300;
    font-size: 14px;
    color: rgba($color: #363636, $alpha: 50%);
  }

  @include for-desktop-up {
    max-width: 650px;
    text-align: left;
  }
}
