@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import 'normalize.css';
@import './theme.scss';
@import './base_link.scss';

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $textColor;
}

a {
  @include baseLink;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  margin-bottom: 15px;
}

* {
  box-sizing: border-box;
}
