@import "/src/styles/theme.scss";
@import "/src/styles/media_queries.scss";

.headerContainer {
  height: 100vh;
  position: relative;
  display: flex;
}

.content {
  position: relative;
  margin: auto;
  padding-bottom: 287px;
  text-align: center;
}

.subheadingText {
  font-weight: bold;
  letter-spacing: 3px;
  background: $primaryGradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 22px;
  text-transform: uppercase;
}

.titleText {
  font-size: 72px;
  letter-spacing: 1.2px;
}

.highlightedText {
  background: $mainGradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.clutchWidget {
  position: relative;
  left: calc(50% + 5px);
  transform: translateX(-50%);
}

.rocket {
  width: 287px;
  height: auto;
  position: absolute;
  left: calc(50% + 5px);
  transform: translateX(-50%);
  margin: -15px auto;
  z-index: -1;
}

.scrollDown {
  width: 26px;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: calc(50% + 5px);
  transform: translateX(-50%);
}

.chevron {
  transform: rotate(90deg);
}
