@import "/src/styles/theme.scss";
@import "/src/styles/media_queries.scss";

.headerContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  position: relative;
  margin: auto;
  
  @include for-phone-only {
    padding-top: 140px;
  }

  @include for-tablet-up {
    padding-top: 185px;
  }
  
  @include for-desktop-up {
    padding-top: initial;
    padding-bottom: 279px;
  }
}

.subheadingText {
  font-weight: bold;
  letter-spacing: 3px;
  background: $primaryGradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-size: 14px;

  @include for-tablet-up {
    font-size: 22px;
  }
}

.titleText {
  letter-spacing: 1.2px;
}

.highlightedText {
  background: $mainGradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rocket {
  width: 144px;
  height: auto;
  position: absolute;
  top: 0;

  @include for-tablet-up {
    width: 190px;
  }

  @include for-desktop-up {
    width: 287px;
    top: auto;
    right: 0;
    margin-top: -50px;
  }
}

.scrollDown {
  display: flex;
  margin: auto;
}

.chevron {
  transform: rotate(90deg);
}
