.numberBackground {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  background: #FFFFFF;
  border-radius: 10px;
  display: flex;
  margin-bottom: 30px;
}

.number {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  color: #363636;
  margin: auto;
}

.title{

}

.description {

}

.column {
  width: 33%;
  text-align: center;
  padding: 20px;
}