@import '/src/styles/media_queries.scss';

.numberBackground {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  background: #FFFFFF;
  border-radius: 10px;
  display: flex;
  margin-bottom: 30px;

  @include for-phone-only {
    width: 35px;
    height: 35px;
  }
}

.number {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  color: #363636;
  margin: auto;

  @include for-phone-only {
    font-size: 18px;
  }
}

.title{

}

.description {

}

.column {
  text-align: center;
  padding: 20px;
}
