@import '/src/styles/theme.scss';
@import '/src/styles/media_queries.scss';

.getFreeQuoteSection {
  display: flex;
  flex-direction: column;
  padding: 50px;
  width: 100%;
  border-radius: 0px 0px 52px 52px;
  margin: auto;
  background: $secondaryColor;

  @include for-tablet-up {
    width: 648px;
  }

  @include for-desktop-up {
    width: 1207px;
  }
}

.sectionHeader {
  margin: auto;
  margin-bottom: 25px;
  text-align: center;

  @include for-tablet-up {
    margin-bottom: 45px;
  }

  @include for-desktop-up {
    margin-bottom: 100px;
  }
}

.titleText {
  font-size: 24px;
  font-weight: 700;
  background: $mainGradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;

  @include for-tablet-up {
    font-size: 32px;
  }

  @include for-desktop-up {
    font-size: 40px;
  }
}

.subheadingText {
  font-size: 28px;
  font-weight: 500;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 160px;

  @include for-tablet-up {
    padding-bottom: 110px;
  }

  @include for-desktop-up {
    flex-direction: row;
    padding-bottom: 0;
  }
}

.textContainer {
  width: 100%;
  line-height: 30px;
  letter-spacing: 1.2px;

  > p {
    > span {
      font-weight: 700;
    }
  }

  > p:first-of-type {
    font-size: 16px;
    margin-bottom: 25px;
  }

  > p:last-of-type {
    position: absolute;
    bottom: 0;
  }

  @include for-tablet-up {
    width: 563px;

    > p {
      font-size: 20px !important;
    }

    > p:first-of-type {
      margin-bottom: 38px;
    }
  }

  @include for-desktop-up {
    > p:first-of-type {
      margin-bottom: 30px;
    }

    > p:last-of-type {
      position: inherit;
      bottom: auto;
    }
  }
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include for-desktop-up {
    width: 563px;
  }
}
