@import '/src/styles/theme.scss';
@import '/src/styles/media_queries.scss';

.sectionContainer {
  display: flex;
  flex-direction: column;
  padding: 20px var(--rootContentHorizontalPadding) 100px;
  margin: 0 calc(-1 * var(--rootContentHorizontalPadding));
  border-radius: 0px 0px 52px 52px;
  background: $secondaryColor;

  @include for-tablet-up {
    margin: 0;
    padding: 30px 80px 65px;
  }

  @include for-desktop-up {
    padding: 30px 50px 100px;
    margin: 0 -50px;
  }
}

