@import '/src/styles/theme.scss';
@import '/src/styles/media_queries.scss';

$backgroundColor: #FFFFFF;

.testimonials {
  display: flex;
  flex-direction: column;
  background-color: $backgroundColor;
  position: relative;
  padding-bottom: 225px;

  @include for-tablet-up {
    padding-bottom: 300px;
  }

  @include for-desktop-up {
    padding-bottom: 500px;
  }
}

.sectionHeader {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.subheadingText {
  font-weight: 500;
  letter-spacing: 3px;
  color: rgba($color: #363636, $alpha: 0.5);
  font-size: 10px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.titleText {
  text-align: center;

  @include for-desktop-up {
    font-weight: 600;
    font-size: 60px;
    margin-bottom: 10px;
  }
}

.descriptionText {
  font-weight: 300;
  font-size: 20px;
  color: rgba($color: #363636, $alpha: 0.5);
  text-align: center;
}

.horizontalBar {
  width: 100px;
  height: 10px;
  background: #FFC331;
  margin: 40px auto;
  border: none;
}

.carousel > *[class^='react-slideshow-container'] {
  display: flex;
  justify-content: space-around;

  & > .carouselArrow {
    font-size: 30px;
    cursor: pointer;
    padding: 10px 15px;
  }

  @include for-tablet-up {
    & > *[class^='react-slideshow-wrapper'] {
      max-width: 865px;
    }
  }
}

.carousel > *[class^='indicators'] {
  max-width: 865px;
  margin: auto;
  margin-top: 50px !important;
  padding: 0;

  & > li:not(:last-of-type) {
    margin-right: 20px;
    width: 10px;
    height: 10px;
  }

  & > li > *[class^='each-slideshow-indicator']::before {
    background: #8224E3;
    width: 100%;
    height: 100%;
  }
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;

  @include for-tablet-up {
    margin: auto;
  }
}

.quoteContainer {
  max-width: 650px;
  display: flex;
  justify-content: space-between;
}

.quote {
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  line-height: 35px;
  padding: 40px 0;
  margin: 0;

  > strong {
    font-weight: 700;
  }

  @include for-tablet-up {
    font-size: 30px;
    padding: 40px 10px;
  }
}

.profileImg {
  width: 115px;
  height: 115px;
  flex-shrink: 0;
  margin-bottom: 20px;
}

.profileData {
  text-align: center;

  > p {
    margin: 0;
  }
}

%quotation-mark {
  width: 26px;
  height: 18px;
  color: #8224E3;
  flex-shrink: 0;

  @include for-tablet-up {
    width: 36px;
    height: 28px;
  }
}

.openQuote {
  @extend %quotation-mark;
}

.closeQuote {
  @extend %quotation-mark;
  transform: rotate(180deg);
  align-self: flex-end;
}

.bottomImg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
