@import '/src/styles/theme.scss';
@import '/src/styles/media_queries.scss';

$backgroundColor: #FFFFFF;

.testimonials {
  display: flex;
  flex-direction: column;
  background-color: $backgroundColor;
  position: relative;
  padding-bottom: 500px;
}

.sectionHeader {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.subheadingText {
  font-weight: 500;
  letter-spacing: 3px;
  color: rgba($color: #363636, $alpha: 0.5);
  font-size: 10px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.titleText {

  @include for-desktop-up {
    font-weight: 600;
    font-size: 60px;
    margin-bottom: 10px;
  }
}

.descriptionText {
  font-weight: 300;
  font-size: 20px;
  color: rgba($color: #363636, $alpha: 0.5);
}

.horizontalBar {
  width: 100px;
  height: 10px;
  background: #FFC331;
  margin: 40px auto;
  border: none;
}

.bottomImg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
