@import '/src/styles/theme.scss';
@import '/src/styles/media_queries.scss';

.getInTouch {
  position: relative;
  overflow: hidden;
  background-image: url(../../../assets/staff_augmentation/getYourQuoteNow.png);
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: cover;
  min-height: 56vw;
  margin-bottom: 50px;
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: -300px;

  @include for-tablet-up {
    margin-top: -200px;
  }

  @include for-desktop-up {
    margin-top:0px;
  }
}

.sectionContent {
  margin-top: auto;
  display: flex;
  width: 100%;
  height: 868px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 75px;

  @include for-tablet-up {
    padding-bottom: 120px;
  }

  @include for-desktop-up {
    height: 800px;
    padding-bottom: 130px;
  }

  @media screen and (min-width: 1500px) and (max-width: 1649px) {
    padding-bottom: 100px;
  }

  @media screen and (min-width: 1650px) and (max-width: 1799px) {
    padding-bottom: 70px;
  }

  @media screen and (min-width: 1024px) and (max-width: 1230px) {
    padding-bottom: 98px;
  }

  @include for-big-desktop-up {
    height: 830px;
    padding-bottom: 25px;
  }

}

.subheadingText {
  font-weight: 500;
  letter-spacing: 3px;
  color: rgba($color: #363636, $alpha: 0.5);
  font-size: 10px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.titleText {

  @include for-desktop-up {
    font-weight: 600;
    font-size: 60px;
    margin-bottom: 10px;
  }
}

.descriptionText {
  font-weight: 300;
  font-size: 20px;
  color: rgba($color: #363636, $alpha: 0.5);
  text-align: center;
}

.horizontalBar {
  width: 100px;
  height: 10px;
  background: #FFC331;
  margin: 40px auto;
  border: none;
}

%dotsPattern {
  width: 277px;
  position: absolute;

  @include for-tablet-down {
    display: none;
  }

  @media screen and (min-width: 1024px) and (max-width: 1230px) {
    display: none;
  }
}

.topRightPattern {
  @extend %dotsPattern;
  bottom: 10%;
  left: 0;
}

%circle {
  border-radius: 50%;
  position: absolute;

  @include for-tablet-down {
    display: none;
  }
}

.filledBigCircle {
  @extend %circle;
  width: 243px;
  height: 243px;
  background: rgba($color: #EAEAEA, $alpha: 0.3);
  top: 19%;
  right: 76px;

  @media screen and (min-width: 1024px) and (max-width: 1230px) {
    display: none;
  }
}

.emptyCircle {
  @extend %circle;
  width: 284px;
  height: 284px;
  border: .5px solid rgba($color: #363636, $alpha: 0.2);
  opacity: 0.5;
  top: 18%;
  right: 70px;

  @media screen and (min-width: 1024px) and (max-width: 1230px) {
    display: none;
  }
}

.smallBlurRightCircle {
  @extend %circle;
  width: 13px;
  height: 13px;
  background-color: rgba($color: #8224E3, $alpha: 0.5);
  filter: blur(3px);
  top: 46%;
  right: 313px;
  opacity: 0.7;

  @media screen and (min-width: 1024px) and (max-width: 1230px) {
    display: none;
  }
}

.leftPattern {
  display: none;
}

.rightPattern {
  display: none;
}

.variant_reverse_items {
  .topRightPattern {
    margin-top: -548px;
    margin-left: 1070px;
    transform: rotate(-90deg);
  }

  .shapes {
    position: absolute;
    margin-top: 350px;
    margin-left: -1000px;
  }

  .leftPattern {
    display: none;
  }

  .rightPattern {
    display: none;
  }
}

.variant_notBackground {
  background-image: none;

  .shapes {
    display: none;
  }

  .topRightPattern {
    display: none;
  }

  %dotPattern {
    width: 15vw;
    position: absolute;
    top: 370px;
    display: none;

    @include for-desktop-up {
      display: block;

      @media screen and (min-width: 1024px) and (max-width: 1230px) {
        width: 12vw;
        top: 477px;
      }
    }

    @include for-tablet-down {
      display: none;
    }
  }

  .leftPattern {
    @extend %dotPattern;
    left: 2vw;

    @media screen and (min-width: 1024px) and (max-width: 1230px) {
      left: 0vw;
    }
  }

  .rightPattern {
    @extend %dotPattern;
    right: 2vw;

    @media screen and (min-width: 1024px) and (max-width: 1230px) {
      right: 0vw;
    }
  }
}
