@import '/src/styles/media_queries.scss';

.description {
  font-weight: 300;
  line-height: 120%;
  letter-spacing: -0.015em;
  font-size: 20px;
  text-align: center;
  margin: 0;
  width: 300px;

  @include for-desktop-up {
    text-align: left;
    width: 400px;
  }

  .boldText {
    font-weight: 600;
  }
}