@import '/src/styles/theme.scss';

.teamContainer {
  background-color: $backgroundColor;
  padding-top: 100px;
}

.rocket {
  margin-left: 10px;
  width: 40px;
  --secondaryColor: #{$brandingColor};
}

.titleStyles {
  position: relative;
  padding: 5px 12px;
  padding-left: 0;
  display: block;
  width: fit-content;
  background-color: $brandingColor;
  color: $secondaryColor;

  &::before {
    content: '';
    position: absolute;
    width: var(--rootContentPadding);
    left: calc(-1 * var(--rootContentPadding));
    top: 0;
    height: 100%;
    background-color: $brandingColor;
  }
}

.buttonDowload {
  display: block;
  margin-top: 32px;
  background-color: $primaryColor;
  color: $secondaryColor;
  padding: 13px 0px 13px 25px;
  border-radius: 4px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.iconDowload {
  --primaryColor: #{$secondaryColor};
  margin-right: 18px;
}