@import '/src/styles/theme.scss';
@import '/src/styles/media_queries.scss';

.confirmationBadge {
  display: flex;
  background: rgba($color: #00966D, $alpha: 0.1);
  border-radius: 50%;
  width: 212px;
  height: 212px;
  margin: auto;
  margin-top: 53px;
}

.checkSign {
  width: 103px;
  height: auto;
  margin: auto;
}

.messageSent {
  text-align: center;
  letter-spacing: 1.1px;
  line-height: 28px;
  margin: auto;
  margin-top: 45px;

  > h2 {
    font-size: 32px;
    letter-spacing: 1.5px;
    line-height: 38px;
    margin-bottom: 36px;

    @include for-tablet-up {
      font-size: 42px;
      line-height: 50px;
      margin-bottom: 24px;
    }
  }
}

.addSomething {
  text-align: center;
  letter-spacing: 1.1px;
  line-height: 28px;
  margin: auto;
  margin-top: 45px;

  @include for-tablet-up {
    margin-top: 85px;
  }

  >p:first-of-type {
    font-weight: 700;
  }
}
