@import '/src/styles/media_queries.scss';

.profileContainer {
  display: flex;
  gap: 20px;
  width: 100%;
}

.profileContainer:nth-last-child(n) {
  border-bottom: 1px solid #E1E1E1;
  padding: 32px 0;
}

.profileContainer:nth-last-child(1) {
  border-bottom: none;
}


.name{
  font-weight: 600;
  line-height: 30px;
  font-size: 14px;
  width: 100%;

  @include for-tablet-down {
    font-size: 16px;
  }

  @media screen and (min-width: 1385px) {
    font-size: 20px;
  }
}
