@import '/src/styles/media_queries.scss';

$grayColor: #363636;

.container {
  position: relative;
  padding: 50px auto;
}

.sectionHeader {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;

  @include for-desktop-up {
    align-items: flex-start;
  }
}

.subheading {
  font-weight: 500;
  letter-spacing: 1em;
  color: rgba($color: $grayColor, $alpha: 0.5);
  font-size: 10px;
  margin-bottom: 32px;
  text-transform: uppercase;

  @include for-tablet-up {
    font-size: 13px;
  }
}

.title {
  font-size: 32px;

  @include for-desktop-up {
    font-weight: 600;
    font-size: 60px;
  }
}

.horizontalBar {
  width: 100px;
  height: 10px;
  background: #ffc331;
  margin: 32px 0px 45px;
  border: none;
}

.stepsContainer {
  position: relative;
}

.row {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  @include for-desktop-up {
    flex-direction: row;
    align-items: baseline;
    gap: 7vw;
    margin: 0;
  }
}

.step {
  max-width: 280px;
  width: 100%;

  @include for-phone-only {
    max-width: 300px;
  }
}

.arrows {
  position: absolute;
  left: 0;

  @include for-desktop-up {
    display: none;
  }
}

.desktopSteps {
  display: none;

  @include for-desktop-up {
    display: block;
    width: 90%;
    height: auto;
    margin-left: -35px;
  }
}

.topRightDotsPattern {
  position: absolute;
  top: -40px;
  right: 4vw;

  @include for-tablet-down {
    display: none;
  }
}
