@import '/src/styles/media_queries.scss';

.container {
  padding-top: 0 !important;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 25px;

  @include for-desktop-up {
    grid-template-columns: 2fr 1.3fr;
    column-gap: 7%;
  }
}

.decoElements {
  position: absolute;
  z-index: -1;
  bottom: -75px;
  left: -75px;
  display: none;

  @include for-desktop-up {
    display: block;
  }
}

.cards {
  grid-row: 2;
  list-style-type: none;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0;
  gap: 10px;
  margin: 0 auto 25px;

  li:nth-child(odd) {
    margin-top: -10px;
    margin-bottom: 10px;
  }

  li:nth-child(even) {
    margin-top: 10px;
    margin-bottom: -10px;
  }

  @include for-desktop-up {
    width: auto;
    grid-row: auto;
    gap: 25px;
    margin: -75px auto 75px 0;

    li:nth-child(odd) {
      margin-top: -25px;
      margin-bottom: 25px;
    }

    li:nth-child(even) {
      margin-top: 25px;
      margin-bottom: -25px;
    }
  }

  li {
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    color: #363636;
    min-width: 100px;
    max-width: 190px;
    min-height: 160px;
    font-size: 12px;
    line-height: 14px;

    @include for-tablet-up {
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      min-width: 200px;
      max-width: 380px;
      min-height: 300px;

      @media screen and (max-width: 1310px) {
        font-size: 20px;
      }
    }

    .image {
      flex-shrink: 0;
      width: 50px;
      height: auto;
      margin-bottom: 10px;

      @include for-tablet-up {
        margin-bottom: 30px;
        width: auto;
      }
    }

    .tag {
      background: #377DFF;
      font-weight: 700;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-bottom: 10px;
      border-radius: 10px;
      padding: 4px 8px;
      font-size: 10px;
      line-height: 12px;

      @include for-tablet-up {
        margin-bottom: 20px;
        border-radius: 20px;
        padding: 8px 16px;
        font-size: 12px;
        line-height: 14px;
      }
    }
  }
}

.mainContainer {
  grid-row: 1;

  @include for-desktop-up {
    grid-row: auto;
  }

  h3 {
    font-weight: 500;
    color: #363636;
    opacity: .5;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 150%;
    letter-spacing: 1em;
    text-align: center;

    @include for-tablet-up {
      font-size: 13px;

      @media screen and (max-width: 1500px) {
        letter-spacing: 0.8em;
      }

      @media screen and (max-width: 1310px) {
        letter-spacing: 0.5em;
      }
    }

    @include for-desktop-up {
      text-align: left;
    }
  }

  h2 {
    font-weight: 700;
    font-size: 32px;
    text-align: center;

    @include for-tablet-up {
      font-size: 60px;
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
    }

    @include for-desktop-up {
      max-width: none;
      margin-left: 0;
      margin-right: 0;
      text-align: left;
    }
  }

  p {
    font-weight: 400;
    color: #363636;
    opacity: .7;
    font-size: 15px;
    text-align: center;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;

    @include for-tablet-up {
      font-size: 24px;
      max-width: 500px;
    }

    @include for-desktop-up {
      max-width: none;
      text-align: left;
    }
  }

  hr {
    display: block;
    width: 100px;
    height: 10px;
    background: #FFC331;
    border: 0;
    margin: 32px auto 45px auto;

    @include for-desktop-up {
      margin-left: 0;
    }
  }

  ul {
    list-style-image: url('~/src/assets/staff_augmentation/our_services/check.svg');
    list-style-position: inside;
    padding-left: 0;
    font-weight: 300;
    color: rgba(54, 54, 54, .5);
    font-size: 18px;
    line-height: 21px;
    max-width: 370px;
    margin: 0 auto;

    @include for-tablet-up {
      margin-bottom: 0;
      max-width: 500px;

      font-size: 24px;
      line-height: 28px;

      @media screen and (max-width: 1155px) {
        font-size: 22px;
      }
    }

    @include for-desktop-up {
      max-width: none;
    }

    li + li {
      margin-top: 15px;
    }
  }
}

.needHelpIfFull {
  align-self: flex-end;
  margin-bottom: 36px;

  @include for-tablet-down {
    display: none;
  }

  h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #363636;
    margin-bottom: 30px;
  }

  ul {
    list-style-image: url('~/src/assets/staff_augmentation/our_services/arrow_forward.svg');
    list-style-position: inside;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1.15fr 1fr;
    gap: 15px;

    @media screen and (max-width: 1310px) {
      grid-template-columns: 1fr;
    }

    li {
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      color: #363636;
    }
  }
}

.needHelpIfSlides {
  order: 1;

  @include for-desktop-up {
    display: none;
  }

  h3 {
    font-weight: 300;
    font-size: 11px;
    line-height: 100%;
    color: #363636;
    opacity: 0.5;
    text-align: center;

    @include for-tablet-up {
      font-size: 13px;
    }
  }

  .quoteContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .quote {
    text-align: center;

    &::before, &::after {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      background-image: url('~/src/assets/home/quotation_mark.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      opacity: .5;
      margin-right: 6px;
      margin-left: 6px;
    }

    &::after {
      transform: rotate(180deg);
    }
  }

  .carousel {
    z-index: 1;
    position: relative;
    width: 100%;
    overflow: hidden;

    :global(.react-slideshow-container) :global(.react-slideshow-wrapper) {
      max-width: calc(100vw - 60px);
    }

    > :global(.indicators) {
      padding-left: 0;
      margin-top: 0;

      li + li {
        margin-left: 10px;
      }
    }
  }
}

.skills {
  max-width: 390px;
  margin: 0 auto;
  order: 3;

  @include for-tablet-up {
    order: 2;
  }

  @include for-desktop-up {
    margin: -30px 0 0;
  }

  @media screen and (max-width: 405px) {
    max-width: 325px;

    .skill {
      font-size: 10px;
    }
    .skillLogo {
      height: 40px;
    }
  }

  @media screen and (max-width: 357px) {
    .skill {
      font-size: 9px;
    }
    .skillLogo {
      height: 35px;
    }
  }
}

.costEffectiveCTAButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  background-color: #F9F9F9;
  order: 2;
  
  @include for-tablet-up {
    flex-direction: row;
    align-items: baseline;
    width: 80%;
    margin: auto;
  }

  @include for-desktop-up {
    width: 100%;
  }

  p {
    font-weight: 500;
    color: #363636;

    @include for-tablet-down {
      text-align: center;
      font-size: 1rem;
    }
  }

  button {
    padding: 1rem 3.5rem;
    font-size: 1rem;
  }
}
