@import '/src/styles/media_queries.scss';

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  width: 46%;
  margin: 2% 2% 0 0;

  @include for-phone-only {
    width:100%;
  }

  @include for-tablet-down {
    text-align: center;
    margin-bottom: 40px;
  }
}

.serviceTitle {
  font-weight: 500;
  line-height: 100%;
}

.serviceDescription {
  font-weight: 300;
  line-height: 150%;
  color: rgba($color: #363636, $alpha: .5)
}

%decoStyles {
  position: absolute;
  z-index: -1;
}

.decoPattern {
  @extend %decoStyles;
  width: 327px;
  height: 166px;
  top: -8%;
  left: -130px;
  transform: rotate(90deg);

  @include for-tablet-down {
    display: none;
  }
}

.decoCircle {
  @extend %decoStyles;
  right: 0;
  bottom: 0;

  @include for-tablet-down {
    display: none;
  }
}

.decoEmptyCircle {
  @extend %decoStyles;
  bottom: 0;
  left: 0;

  @include for-tablet-down {
    display: none;
  }
}

.decoFilledCircle {
  @extend %decoStyles;
  left: 7vw;
  bottom: 9vh;
  max-width: 140px;

  @include for-tablet-down {
    display: none;
  }
}

.decoCircleLine {
  @extend %decoStyles;
  left: 8vw;
  bottom: 8vh;
  max-width: 140px;

  @include for-tablet-down {
    display: none;
  }
}

.decoBlur {
  @extend %decoStyles;
  left: 6vw;
  bottom: 8vh;

  @include for-tablet-down {
    display: none;
  }
}

.leftSemicirclesMobile {
  @extend %decoStyles;
  display: none;

  @include for-tablet-down {
    display: block;
    top: 0;
    left: 0;
  }
}

.rightSemicirclesMobile {
  @extend %decoStyles;
  display: none;

  @include for-tablet-down {
    display: block;
    top: 60%;
    right: 0;
  }
}
