@import '/src/styles/media_queries.scss';

.row {
  display: flex;

  @include for-phone-only {
    flex-direction: column-reverse;
  }
}

.column {
  flex: 50%;
}

.descriptionText {
  font-weight: 300;
  line-height: 150%;
}

.list {
  list-style: none;
  margin: 0 0 5vh 0;
}

.listItem {
  align-items: center;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.listItem::before {
  content:url('../../../../assets/services/tick-icon.svg');
  left: -10px;
  position: relative;
}

.decoPattern {
  left: 3vw;
  position: absolute;
  top: -7vh;
  z-index: -1;

  @include for-tablet-down {
    display: none;
  }
}

.decoPatternRight {
  bottom: -2vh;
  position: absolute;
  right: 2vw;
  z-index: -1;

  @include for-tablet-down {
    display: none;
  }
}

.decoCircle {
  left: 2vw;
  position: absolute;
  top: 40vh;
  z-index: -1;

  @include for-tablet-down {
    display: none;
  }
}
