@import '/src/styles/media_queries.scss';

.row {
  display: flex;

  @include for-phone-only {
    flex-direction: column-reverse;
  }
}

.columnLeft {
  flex-grow: 1;
}

.descriptionText {
  font-weight: 300;
  line-height: 150%;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: fit-content;

  @include for-tablet-up {
    margin-left: 20px;
  }

  @include for-phone-only {
    margin-bottom: 30px;
  }
}

.listItem {
  align-items: center;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.listItem::before {
  content:url('../../../../assets/services/tick-icon.svg');
  margin-right: 15px;
}

.decoPattern {
  left: 3vw;
  position: absolute;
  top: -7vh;
  z-index: -1;

  @include for-tablet-down {
    display: none;
  }
}

.decoCircle {
  left: 2vw;
  position: absolute;
  top: 40vh;
  z-index: -1;

  @include for-tablet-down {
    display: none;
  }
}
