@import "/src/styles/media_queries.scss";

.techStackSection {
  background-image: url("../../../assets/portfolio/tech_stack/background_for_icons.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px;
}

.content {
  width: 100%;
  margin-top: 20px;

  @include for-desktop-up {
    padding: 0 220px;
  }
}

.title {
  width: fit-content;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  background: #ffd600;
  border-radius: 50px;
  padding: 10px 20px;
  margin-bottom: 30px;
}

.listSkill {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.skill {
  margin: 0;
}

.logoSkill {
  height: 50px;
}

.name {
  font-size: 16px;
  line-height: 100%;
  opacity: 0.5;
  margin: 15px 0 0;
}

%circle {
  border-radius: 50%;
  position: absolute;
  z-index: -1;

  @include for-tablet-down {
    display: none;
  }
}

.filledCircle {
  @extend %circle;
  background: rgba($color: #eaeaea, $alpha: 0.3);
  width: 309px;
  height: 309px;
  top: -141px;
  left: 12px;
}

.emptyCircle {
  @extend %circle;
  border: 0.5px solid rgba($color: #363636, $alpha: 0.2);
  width: 310px;
  height: 310px;
  top: -153px;
  left: 38px;
}

.smallBlurCircle {
  @extend %circle;
  width: 10px;
  height: 10px;
  background-color: rgba($color: #8224e3, $alpha: 0.5);
  filter: blur(4px);
  top: -123px;
  left: 284px;
}
