@import '/src/styles/theme.scss';

.title {
  position: relative;
  display: block;
  width: fit-content;
  padding: 120px 75px;
  padding-left: 0;

  & > .icon {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    height: 100%;
  }
}

.form {
  & > .inputStyles + .inputStyles {
    margin-top: 16px;
  }
}

.label {
  display: block;
  width: fit-content;
  margin-bottom: 10px;
}

.label, .selectStyles {
  font-size: 22px;
  font-weight: 700;
}

.selectStyles {
  background-color: transparent;
  color: $textColor;
  border: none;
  cursor: pointer;
  margin-left: -.2em;

  & > option {
    font-size: 16px;
    font-weight: normal;
  }
}

.inputStyles {
  border: rgba($color: #000000, $alpha: 0.12) 1px solid;
  border-radius: 4px;
  padding: 16px;
  width: 100%;
  font-size: inherit;
  transition: all ease-in-out 150ms;
  outline: none;

  &:focus {
    border-color: rgba($color: #000000, $alpha: 1.0);
    border-width: 1px;
  }

  &::placeholder {
    color: rgba($color: #000000, $alpha: 0.6);
  }
}

.fieldWithError {
  border-color: #F00;
}

.textarea {
  resize: none;
  height: 200px;
  font-family: inherit;
}

.buttonStyles {
  margin-top: 42px;
  width: 100%;
}

.icon {
  --primaryColor: #{$brandingColor};
}
