@import '/src/styles/theme.scss';

.title {
  position: relative;
  display: block;
  width: fit-content;
  padding: 120px 75px;
  padding-left: 0;

  & > .icon {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    height: 100%;
  }
}

.optionStyles {
  background-color: red;
  border-color: red;
  color: $primaryColor;
}

.selectStyles {
  background-color: none;
  color: $primaryColor;
  border: none;
}

.formStyles {
  border-color: rgba($color: #000000, $alpha: 0.12);
  border-radius: 3.5px;
  border-width: thin;
  color: rgba($color: #000000, $alpha: 0.6);
}

.buttonStyles {
  background-color: #A7AFC3;
  color: $secondaryColor;
  border-radius: 4px;
}

.icon {
  --primaryColor: #{$brandingColor};
}