@import '/src/styles/media_queries.scss';

$backgroundColor: #ffffff;
$textColor: #363636;

.sectionContainer {
  position: relative;
}

.sectionHeader {
  width: 100%;
  text-align: center;
}

.subheadingText {
  font-weight: 500;
  letter-spacing: 3px;
  color: rgba($color: $textColor, $alpha: 0.5);
  font-size: 13px;
  margin-top: 100px;
  margin-bottom: 32px;
  text-transform: uppercase;
}

.titleText {
  width: 100%;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  margin-bottom: 10px;
  white-space: pre-line;

  @include for-tablet-up {
    font-size: 42px;
    line-height: 66px;
  }

  @include for-desktop-up {
    font-size: 60px;
  }
}

.horizontalBar {
  display: inline-block;
  width: 100px;
  height: 10px;
  background: #ffc331;
  margin: 32px 0px 50px;
  border: none;
}

.ctaContainer {
  display: flex;
}

.ctaButton {
  margin: 0 auto;
}

.skills {
  max-width: 265px;
  margin-left: auto;
  margin-right: auto;

  .skillLogo {
    height: 30px !important;
  }

  @media screen and (min-width: 370px) {
    max-width: 390px;

    .skillLogo {
      height: 50px !important;
    }
  }

  @media screen and (min-width: 631px) {
    max-width: none;
    margin-left: 0;
    margin-right: 0;
  }
}
