@import '/src/styles/theme.scss';
@import '/src/styles/media_queries.scss';

.review {
  position: relative;
  background: $backgroundColor;
  padding: 31px 44px 155px;
  border-radius: 6px;
}

.quote {
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 15px;

  &::before {
    content: '“';
  }

  &::after {
    content: '”';
  }
}

.project {
  position: absolute;
  bottom: 26px;
  padding-right: 50px;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;

  @include for-tablet-up {
    padding-right: 60px;
  }
}
