@import '/src/styles/media_queries.scss';

$backgroundColor: #FFFFFF;
$borderColor: #E1E1E1;
$textColor: #363636;

.review {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $backgroundColor;
  padding: 60px 30px;
  border: 1px solid $borderColor;
  border-radius: 5px;
  font-weight: 300;
}

%quotationMark {
  width: 18px;
  height: 14px;
  position: absolute;
}

.openQuote {
  @extend %quotationMark;
  top: 21px;
  left: 21px;
}

.closeQuote {
  @extend %quotationMark;
  transform: rotate(180deg);
  top: 50%;
  right: 21px;
}

.projectInfo {
  margin-top: 20px;

  >p {
    font-size: 14px;
    margin-bottom: 2px;

    &:last-of-type {
      color: rgba($color: $textColor, $alpha: 0.5)
    }
  }
}
