@import '/src/styles/theme.scss';
@import '/src/styles/media_queries.scss';

.title {
  margin: 100px 0px 100px 0px;
  letter-spacing: 1px;
  line-height: 60px;
  text-align: center;
}

.listSkill {
  width: 100%;
  display: flex;
}

@include for-desktop-up {
  .title {
    padding: 0 20px;
    letter-spacing: 0.6px;
    line-height: 36px;
  }
}

@include for-tablet-down {
  .listSkill {
    margin: 0;
  }
}

@include for-phone-only {
  .skills {
    margin-top: 93px;
    padding: 56px 0 77px 0;
  }

  .listSkill {
    margin: 0;
    display: block;
  }
}
