@import "/src/styles/media_queries.scss";

.rightSideContent {
  text-align: right;
  height: 100%;
  position: relative;
}

.content {
  position: absolute;

  @include for-phone-only {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @include for-tablet-up {
    bottom: 0;
    right: 20px; 
  }
}

.modalDecoration {
  width: auto;
  height: 100%;
  object-fit: cover;
  object-position: top right;

  @include for-phone-only {
    display: none;
  }
}

.mobileDecoration {
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include for-tablet-up {
    display: none;
  }
}

.modalDotsPattern {
  position: absolute;
  right: 10%;
}

.whatsNext {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-align: center;

  @include for-tablet-up {
    text-align: right;
  }
}

.rightSideText {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  margin: 32px 0 32px auto;
  width: 100%;
  text-align: center;

  @include for-tablet-up {
    text-align: right;
    max-width: 60%;
  }
}

.avatars {
  display: flex;
  justify-content: center;

  @include for-tablet-up {
    justify-content: flex-end;
  }

  > * {
    margin-left: -35px;
  }
}
