@import "/src/styles/media_queries.scss";

.rightSideContent {
  z-index: 0;

  @include for-tablet-down {
    position: relative;
    padding-top: 250px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
  }

  @include for-desktop-up {
    position: relative;
    position: sticky;
    top: 0;
    text-align: right;
    height: 100%;
  }
}

.content {
  @include for-desktop-up {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}

.modalDecoration {
  width: auto;
  height: 100%;
  object-fit: cover;
  object-position: top right;

  @include for-tablet-down {
    display: none;
  }
}

.mobileDecoration {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;

  @include for-desktop-up {
    display: none;
  }
}

.modalDotsPattern {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.whatsNext {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-align: center;

  @include for-desktop-up {
    text-align: right;
  }
}

.rightSideText {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  margin: 32px 0 32px auto;
  width: 100%;
  text-align: center;

  @include for-desktop-up {
    text-align: right;
    max-width: 60%;
  }
}

.avatars {
  display: flex;
  justify-content: center;

  @include for-desktop-up {
    justify-content: flex-end;
  }

  > * {
    margin-left: -35px;
  }
}
