@import '/src/styles/theme.scss';
@import '/src/styles/auto_grid.scss';
@import '/src/styles/media_queries.scss';

.listContainer {
  @include auto-grid($column-width: 140px);

  justify-content: space-around;
  list-style-type: none;
  padding: 0;

  @include for-tablet-up {
    justify-content: flex-start;
  }
}

.cardButton {
  border: rgba($color: #000000, $alpha: 0.10) 1px solid;
  border-radius: 10px;
  background-color: transparent;
  border-width: thin;
  color: $textColor;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  width: 140px;
  height: 165px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $secondaryColor;
}

.cardIcon {
  --primaryColor: #{$primaryColor};
  --secondaryColor: #{$textColor};
}

.container {
  position: relative;
  z-index: 0;
}

.hexagonContainer {
  position: absolute;
  top: 100%;
  right: 0;
  width: 235px;
  height: 276px;
  transform: translateY(-172px);
  overflow: hidden;
  z-index: -1;
}

.hexagon {
  height: 100%;
  --primaryColor: #{$primaryColor};
}
