@import '/src/styles/theme.scss';
@import '/src/styles/media_queries.scss';

$primaryBlue: #377DFF;

.devImgName {
  >p {
    font-size: 15px;
    margin: auto 0;
    text-align: left;
  }

  .profileImg {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: auto 10px auto 0;
  }
}

.roleTech {
  >p {
    margin: auto 0;
  }
}

.skills {
  justify-content: flex-start;
  align-items: center;

  >span {
    border-radius: 50px;
    padding: 5px 10px;
  }

  >span:not(:last-of-type) {
    margin-right: 10px;
  }
}

.description {
  text-align: center;

  >p {
    margin: auto;
  }
}

.rate {
  display: flex;
  justify-content: stretch;

  >p {
    font-size: 15px;
    margin: auto;
    font-weight: 600;
  }
}

.viewProfileButton {
  color: $primaryBlue;
  font-size: 15px;
  font-weight: 600;
  margin: 0;
}
