@import '/src/styles/theme.scss';
@import '/src/styles/media_queries.scss';

$backgroundColor: #FFFFFF;

.getInTouch {
  background-color: $backgroundColor;
  position: relative;
}

.sectionContent {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.subheadingText {
  font-weight: 500;
  letter-spacing: 3px;
  color: rgba($color: #363636, $alpha: 0.5);
  font-size: 10px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.titleText {

  @include for-desktop-up {
    font-weight: 600;
    font-size: 60px;
    margin-bottom: 10px;
  }
}

.descriptionText {
  font-weight: 300;
  font-size: 20px;
  color: rgba($color: #363636, $alpha: 0.5);
}

.horizontalBar {
  width: 100px;
  height: 10px;
  background: #FFC331;
  margin: 32px 0px 30px 0px;
  border: none;
}

.divider {
  @extend .horizontalBar; 
  background: #F9F9F9;
  display: block;
  margin: auto;
  margin-top: 30px;
}

.serviceBox {
  width: 504px;
  height: 444px;
  background: #FFFFFF;
  border: 1px solid #E1E1E1;
  border-radius: 5px;
  margin-right: 50px;
  padding-bottom: 43px;

  &:hover {
    box-shadow: 8px 8px 10px 0 #E1E1E1;

    .divider {
      background: #FFC331;
    }

    .link {
      color: #2426E3;
    }
  }

<<<<<<< HEAD
  @include for-tablet-down {
    margin-bottom: 50px;
  }
}

.serviceList {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;

  @include for-tablet-down {
=======
  .serviceList {
>>>>>>> feature/redesign
    flex-direction: column;
  }
}

.link {
  color: #363636;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.3px;
  font-weight: 600;
  text-align: center;
}
