.subHeading {
  margin: 0px 0px 28px 0px;
  letter-spacing: 1px;
  line-height: 60px;
  text-align: center;
}

.services {
  margin-top: 50px;  
}

.serviceList {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
