@import '/src/styles/theme.scss';
@import '/src/styles/media_queries.scss';

.headerContainer {
  height: 800px;
  position: relative;
  display: flex;
  overflow: hidden;

  @include for-phone-only {
    height: 650px;
  }
}

.decorationWrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: -4px;
  left: 0;
  z-index: -1;
  background-color: #FFFFFF;
}

.content {
  margin: auto;
  transform: translateY(-90px);
  position: relative;
  text-align: center;

  @include for-phone-only {
    transform: translateY(-24px);
  }
}

.title {
  font-size: 32px;
  font-weight: 900;

  .firstLine {
    font-weight: 300;
    line-height: 35px;
    color: #FFFFFF;
    letter-spacing: -0.3px;
    line-height: 73px;
  }

  .thirdLine {
    background: linear-gradient(90deg, $primaryGradient 0%, $secondaryGradient 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @include for-tablet-up {
    .firstLine { font-size: 50px; }
  }

  @include for-desktop-up {
    .firstLine { font-size: 60px; }
  }

  @include for-phone-only {
    .firstLine { font-size: 27px; }
  }
}

.text {
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  opacity: 0.7;
  letter-spacing: -0.3px;

  @include for-tablet-down {
    font-size: 17px;
  }
}

.clutchWidget {
  transform: translateY(160%);
}

.divider {
  width: 100px;
  height: 10px;
  background-color:#FFC331;
  margin-top: 30px;
  border: none;
}

.buttonContact {
  margin-top: 40px;
}

.introTitle {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.7em;
  color: #FFFFFF;
  opacity: 0.5;
}

.imgHeader {
  object-fit: cover;
  object-position: center bottom;
  width: 100%;
  height: 100%;
}

.halfCircle {
  position: absolute;
  top: 110px; 
  left: 0px;

  @include for-tablet-down {
    display: none;
  }
}

.pattern {
  position: absolute;
  top: 170px; 
  left: 83px;

  @include for-tablet-down {
    display: none;
  }
}

.circle {
  border-radius: 50%;
  position: absolute;
  background: #FFFFFF;

  @include for-tablet-down {
    display: none;
  }
}

.filledCircle {
  @extend .circle;
  width: 250px;
  height: 250px;
  top: 360px; 
  right: 55px;
  opacity: 0.1;
  filter: blur(4px);
  background: #EAEAEA;
}

.emptyCircle {
  @extend .circle;
  width: 250px;
  height: 250px;
  top: 370px; 
  right: 40px;
  opacity: 0.2;
  border: 2px solid;
  border-color: #E1E1E1;
  background: none;
}

.clutchCircle {
  @extend .circle;
  width: 191px;
  height: 191px;
  top: 455px; 
  right: 125px;
  filter: drop-shadow(0px -4.42367px 8.84734px rgba(0, 0, 0, 0.1));
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.2);
  border: 3px solid;
  border-color: #ffffff;
}

.smallCircle {
  @extend .circle;
  width: 30px;
  height: 30px;
  top: 535px; 
  right: 323px;
  opacity: 0.2;
  filter: blur(7px);
}
