@import '/src/styles/theme.scss';
@import '/src/styles/media_queries.scss';

.headerContainer {
  min-height: 100vh;
  position: relative;
  display: flex;
  padding-bottom: 180px;
}

.decorationWrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: -4px;
  left: 0;
  z-index: -1;
}

.content {
  margin: auto;
  position: relative;
  text-align: center;
}

.title {
  font-size: 32px;
  font-weight: 900;

  .firstLine {
    font-weight: 300;
    color: #FFFFFF;
    letter-spacing: -0.3px;
  }

  .thirdLine {
    background: linear-gradient(90deg, $primaryGradient 0%, $secondaryGradient 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @include for-tablet-up {
    .firstLine { font-size: 50px; }
  }

  @include for-desktop-up {
    .firstLine { font-size: 60px; }
  }

  @include for-phone-only {
    .firstLine { font-size: 27px; }
  }
}

.text {
  font-size: 17px;
  line-height: 29px;
  color: #FFFFFF;
  opacity: 0.7;
  letter-spacing: -0.3px;

  @include for-tablet-up {
    font-size: 24px;
    margin-top: 40px;
  }
}

.divider {
  width: 100px;
  height: 10px;
  background-color:#FFC331;
  margin-top: 30px;
  border: none;
}

.imgHeader {
  object-fit: cover;
  object-position: center bottom;
  width: 100%;
  height: 99%;
}

.halfCircle {
  position: absolute;
  top: 110px;
  left: 0px;

  @include for-tablet-down {
    display: none;
  }
}

.pattern {
  position: absolute;
  top: 170px;
  left: 83px;

  @include for-tablet-down {
    display: block;
    top: 290px;
    left: -66px;
  }
}

.circle {
  border-radius: 50%;
  position: absolute;
  background: #FFFFFF;

  @include for-tablet-down {
    display: block;
  }
}

.filledCircle {
  @extend .circle;
  width: 250px;
  height: 250px;
  top: calc(50% + 10px);
  right: 55px;
  opacity: 0.1;
  filter: blur(4px);
  background: #EAEAEA;
}

.emptyCircle {
  @extend .circle;
  width: 250px;
  height: 250px;
  top: calc(50% + 20px);
  right: 40px;
  opacity: 0.2;
  border: 2px solid;
  border-color: #E1E1E1;
  background: none;
}

.clutchCircle {
  @extend .circle;
  width: 210px;
  height: 210px;
  top: calc(50% + 76px);
  right: 125px;
  filter: drop-shadow(0px -4.42367px 8.84734px rgba(0, 0, 0, 0.1));
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.2);
  border: 3px solid;
  border-color: #ffffff;
  z-index: 2;
  display: flex;
}

.clutchWidget {
  margin: auto;
}

.smallCircle {
  @extend .circle;
  width: 30px;
  height: 30px;
  top: calc(50% + 185px);
  right: 323px;
  opacity: 0.2;
  filter: blur(7px);
}

.arrow {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.scrollText {
  font-size: 10px;
  text-transform: uppercase;
  line-height: 12px;
  letter-spacing: -0.39px;
  color: #FFFFFF;
  opacity: 0.7;
  margin-top: 17px;
}
