@import '/src/styles/theme.scss';
@import '/src/styles/media_queries.scss';

$grayColor: #363636;

.aboutUs {
  padding-top: calc(150px + var(--rootContentMinPadding));
  padding-bottom: 75px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @include for-desktop-up {
    padding-top: calc(125px + var(--rootContentMinPadding));
  }
}

.sectionHeader {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @include for-tablet-up {
    align-items: flex-start;
  }
}

.subheadingText {
  font-weight: 500;
  letter-spacing: 1em;
  color: rgba($color: $grayColor, $alpha: 0.5);
  font-size: 10px;
  margin-bottom: 32px;
  text-transform: uppercase;

  @include for-tablet-up {
    font-size: 13px;
  }
}

.titleText {
  font-size: 32px;

  @include for-desktop-up {
    font-weight: 600;
    font-size: 60px;
    margin-bottom: 10px;
  }
}

.descriptionText {
  font-weight: 300;
  font-size: 15px;
  line-height: 23px;
  color: rgba($color: $grayColor, $alpha: 0.5);
  
  @include for-tablet-up {
    font-size: 20px;
    line-height: 36px;
  }
}

.horizontalBar {
  width: 100px;
  height: 10px;
  background: #FFC331;
  margin: 40px 0px 60px;
  border: none;
}

.sectionContent {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, auto));
  gap: 30px;
  margin-bottom: 60px;

  @include for-desktop-up {
    grid-template-columns: repeat(3, minmax(250px, auto));
    gap: 50px;
  }
}

.aboutUsBullet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bulletImg {
  flex-shrink: 0;
  margin-top: 0;
  margin-right: 20px;
  width: 46px;
  height: 46px;

  @include for-tablet-up {
    margin-right: 30px;
    width: 69px;
    height: 69px;
  }

  @include for-desktop-up {
    width: 79px;
    height: 79px;
  }
}

.moreInfoButton {
  margin: auto;

  @include for-tablet-up {
    margin-left: 0;
  }
}

%circle {
  border-radius: 50%;
  position: absolute;
}

.filledCircle {
  @extend %circle;
  background: rgba($color: #EAEAEA, $alpha: 0.3);
  width: 123px;
  height: 123px;
  top: 70px;
  right: -40px;
  
  @include for-desktop-up {
    width: 376px;
    height: 376px;
    top: 0;
    right: -188px;
  }
}

.emptyCircle {
  @extend %circle;
  border: .5px solid rgba($color: $grayColor, $alpha: 0.2);
  width: 231px;
  height: 231px;
  top: 0px;
  right: -164px;

  @include for-desktop-up {
    width: 376px;
    height: 376px;
    top: 16px;
    right: -158px;
  }
}

.smallCircle {
  @extend %circle;
  background-color: rgba($color: #8224E3, $alpha: 0.3);
  filter: blur(1px);
  width: 10px;
  height: 10px;
  top: 202px;
  right: 19px;

  @include for-desktop-up {
    top: 0;
    right: 283px;
  }
}

.leftFilledCircle {
  @extend %circle;
  width: 120px;
  height: 120px;
  top: 687px;
  left: 27px;
  opacity: 0.3;
  filter: blur(1px);
  background: #EAEAEA;

  @include for-tablet-down {
    display: none;
  }
}

.leftEmptyCircle {
  @extend %circle;
  width: 120px;
  height: 120px;
  top: 690px;
  left: 37px;
  opacity: 0.2;
  border: 2px solid;
  border-color: #E1E1E1;
  background: none;

  @include for-tablet-down {
    display: none;
  }
}

.leftSmallCircle {
  @extend %circle;
  width: 14px;
  height: 14px;
  top: 797px;
  left: 32px;
  opacity: 0.3;
  filter: blur(1.5px);
  background: #8224E3;

  @include for-tablet-down {
    display: none;
  }
}

.halfCircle {
  position: absolute;
  top: 600px;
  left: 0px;
  width: 150px;
  height: 270px;
  z-index: -1;
  overflow: hidden;

  @include for-tablet-down {
    display: none;
  }
}

.dotsPattern {
  width: 217px;
  position: absolute;
  bottom: 0;
  left: -30px;

  @include for-desktop-up {
    display: none;
  }
}
