@import '/src/styles/theme.scss';

$grayColor: #363636;
$required: #F00;
$attachColor: #377DFF;

.bookTimeButton {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
}

.form {
  display: flex;
  flex-direction: column;
}

.labels {
  margin-top: 32px;
  margin-bottom: 12px;
  color: rgba(54, 54, 54, 0.65);

  > span {
    color: $required;
  }
}

.input {
  margin: 10px 0;
  border: rgba($color: #363636, $alpha: 0.12) 1px solid;
  border-radius: 4px;
  padding: 15px;
  width: 100%;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  transition: all ease-in-out 150ms;
  outline: none;

  &:focus {
    border-color: rgba($color: #000000, $alpha: 1.0);
    border-width: 1px;
  }

  &::placeholder {
    font-size: 16px;
    color: rgba($color: #707070, $alpha: 1);
  }
}

.fieldWithError {
  border-color: $required;
}

.inputStyles {
  @extend .input;

  height: 37px;
}

.textAreaStyles {
  @extend .input;

  resize: vertical;
  min-height: 50px;
  max-height: 150px;
}

.fileUploadField {
  margin: 10px 0;

  > .field {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }

  &:hover {
    cursor: pointer;
  }
}

.fileUploadLabel {
  font-size: 15px;
  margin-bottom: 0;
  margin-left: 20px;
  color: #377DFF;
}

.submitButton {
  padding: 10px 36px;
}
