.label {
  padding-left: 29px;
  display: block;
  cursor: pointer;
  position: relative;
  min-height: 24px;
  line-height: 40px;

  & > input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  &::before {
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 1px;
    border-radius: 50%;
    background-image: linear-gradient(white, white),
      linear-gradient(66.27deg, #6b67e9 11.76%, #8224e3 89.05%);
    background-clip: content-box, border-box;
    background-size: contain;
    background-repeat: no-repeat;
    box-sizing: border-box;
  }

  &:hover::before,
  &:focus-within::before {
    background-image: url("../../../assets/radio_button/check.svg"),
      linear-gradient(white, white),
      linear-gradient(66.27deg, #6b67e9 11.76%, #8224e3 89.05%);
    background-clip: border-box, content-box, border-box;
  }

  &.checked::before {
    background-image: url("../../../assets/radio_button/check_white.svg"),
      linear-gradient(66.27deg, #6b67e9 11.76%, #8224e3 89.05%);
    background-clip: border-box, border-box;
  }
}
