@import '/src/styles/theme.scss';
@import '/src/styles/media_queries.scss';

$grayColor: #363636;

.ourCompany {
  min-height: 100vh;
  padding-top: calc(125px + var(--rootContentMinPadding));
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.sectionHeader {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.subheadingText {
  font-weight: 500;
  letter-spacing: 1em;
  color: rgba($color: $grayColor, $alpha: 0.5);
  font-size: 10px;
  margin-bottom: 32px;
  text-transform: uppercase;

  @include for-tablet-up {
    font-size: 13px;
  }
}

.titleText {
  font-size: 32px;

  @include for-desktop-up {
    font-weight: 600;
    font-size: 60px;
    margin-bottom: 10px;
  }
}

.descriptionText {
  max-width: 466px;
  width: 100%;
  font-weight: 300;
  font-size: 15px;
  line-height: 23px;
  color: rgba($color: $grayColor, $alpha: 0.5);
  
  @include for-tablet-up {
    font-size: 20px;
    line-height: 36px;
  }
}

.horizontalBar {
  width: 100px;
  height: 10px;
  background: #FFC331;
  margin: 32px 0px 40px;
  border: none;
}

.textBlock {
  width: 100%;
  font-weight: 300;

  &:first-of-type { 
    max-width: 594px;
    font-size: 20px;
    line-height: 30px;
  }

  &:last-of-type { 
    max-width: 580px;
    font-size: 24px;
    line-height: 36px;
    margin: auto;
    margin-top: 55vw;

    @include for-tablet-up {
      margin-top: 50vw;
    }

    @include for-desktop-up {
      margin-top: 40vw;
    }
  }
}

.backgroundImgContainer {
  width: 100%;
  height: 47vw;
  position: absolute;
  left: 0;
  right: 0;

  @include for-tablet-up {   
    height: 42vw;
  }

  @include for-desktop-up {   
    height: 37vw;
  }
}

.backgroundImg {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
}

%dotsPattern {
  width: 277px;
  position: absolute;
  z-index: -1;
  transform: rotate(90deg);

  @include for-tablet-down {
    display: none;
  }
}

.topRightDotsPattern {
  @extend %dotsPattern;
  top: 335px;
  right: 0;

  @media screen and (min-width:1025px) and (max-width: 1250px) {
    top: 450px;
  }
}

.topLeftDotsPattern {
  @extend %dotsPattern;
  top: 751px;
  left: 0;

  @media screen and (min-width:1025px) and (max-width: 1250px) {
    top: 700px;
  }

  @include for-big-desktop-up {
    top: 42vw;
  }
}

.bottomRightDotsPattern {
  @extend %dotsPattern;
  bottom: 371px;
  right: 5vw;

  @media screen and (min-width:1025px) and (max-width: 1250px) {
    right: 0;
  }
}

.bottomLeftDotsPattern {
  @extend %dotsPattern;
  bottom: 111px;
  left: 0;

  @media screen and (min-width:1025px) and (max-width: 1250px) {
    left: -15px;
  }
}

%circle {
  border-radius: 50%;
  position: absolute;
  z-index: -1;

  @include for-tablet-down {
    display: none;
  }
}

.filledCircle {
  @extend %circle;
  width: 314px;
  height: 314px;
  background: rgba($color: #EAEAEA, $alpha: 0.3);
  top: 46px;
  right: 241px;

  @media screen and (min-width:1025px) and (max-width: 1250px) {
    right: 111px;
  }
}

.emptyCircle {
  @extend %circle;
  width: 314px;
  height: 314px;
  border: .5px solid rgba($color: #363636, $alpha: 0.2);
  top: 51px;
  right: 275px;

  @media screen and (min-width:1025px) and (max-width: 1250px) {
    right: 145px;
  }
}

.smallBlurCircle {
  @extend %circle;
  width: 16px;
  height: 16px;
  background-color: rgba($color: #8224E3, $alpha: 0.5);
  filter: blur(6px);
  top: 315px;
  right: 525px;

  @media screen and (min-width:1025px) and (max-width: 1250px) {
    right: 395px;
  }
}

.emptySemiCircle {
  @extend %circle;
  width: 314px;
  height: 314px;
  border: .5px solid rgba($color: #363636, $alpha: 0.2);
  top: 150px;
  left: -217px;
}
