@import '/src/styles/theme.scss';
@import '/src/styles/media_queries.scss';

$grayColor: #363636;

.ourCompany {
  position: relative;
  overflow: hidden;
}

.ourCompanyBottom {
  @extend .ourCompany;

  overflow: visible;
}

.sectionHeader {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.subheadingText {
  font-weight: 500;
  letter-spacing: 1em;
  color: rgba($color: $grayColor, $alpha: 0.5);
  font-size: 10px;
  margin-bottom: 32px;
  text-transform: uppercase;

  @include for-tablet-up {
    font-size: 13px;
  }
}

.titleText {
  font-size: 32px;

  @include for-desktop-up {
    font-weight: 600;
    font-size: 60px;
    margin-bottom: 10px;
  }
}

.descriptionText {
  max-width: 466px;
  width: 100%;
  font-weight: 300;
  font-size: 15px;
  line-height: 23px;
  color: rgba($color: $grayColor, $alpha: 0.5);

  @include for-tablet-up {
    font-size: 20px;
    line-height: 36px;
  }
}

.horizontalBar {
  width: 100px;
  height: 10px;
  background: #FFC331;
  margin: 32px 0 40px;
  border: none;
}

.textBlock {
  width: 100%;
  font-weight: 300;
}

.firstTextBlock {
  @extend .textBlock;

  max-width: 594px;
  font-size: 20px;
  line-height: 30px;

  span {
    font-weight: 600;
  }
}

.lastTextBlock {
  @extend .textBlock;

  max-width: 580px;
  font-size: 24px;
  line-height: 36px;
  margin: auto;

  span {
    font-weight: 600;
  }

  .goToStaffAugService {
    color: #377dff;
    font-size: 15px;
    font-weight: 600;
  }
}

.backgroundImg {
  margin-top: -12.14vw;
  width: 100%;
  padding: 0;
  height: 48.88vw;
  z-index: -2;
}

%dotsPattern {
  width: 217px;
  position: absolute;
  z-index: -1;
  transform: rotate(90deg);

  @include for-desktop-up {
    width: 277px;
  }
}

.topRightDotsPattern {
  @extend %dotsPattern;
  top: 335px;
  right: 0;

  @media screen and (min-width:1025px) and (max-width: 1250px) {
    top: 450px;
  }

  @include for-tablet-down {
    display: none;
  }
}

.topLeftDotsPattern {
  @extend %dotsPattern;
  padding: 0;
  position: absolute;
  left: -117px;

  @include for-tablet-down {
    transform: rotate(0deg);
  }

  @include for-desktop-up {
    margin-top: 50px;
    left: 0;

    @media screen and (min-width:1025px) and (max-width: 1250px) {
      // top: 700px;
    }
  }

  @include for-big-desktop-up {
    // top: 42vw;
  }
}

.bottomRightDotsPattern {
  @extend %dotsPattern;
  bottom: 3vw;
  right: 5vw;

  @include for-regular-desktop-down {
    right: 0;
  }

  @include for-tablet-down {
    display: none;
  }
}

.bottomLeftDecoCircle {
  position: absolute;
  bottom: 3vw;
  left: 5vw;
  z-index: -1;

  @include for-regular-desktop-down {
    left: -10vw;
  }

  @include for-tablet-down {
    display: none;
  }
}

%circle {
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

.filledCircle {
  @extend %circle;
  background: rgba($color: #EAEAEA, $alpha: 0.3);
  width: 102px;
  height: 102px;
  top: 80px;
  right: -42px;

  @include for-desktop-up {
    width: 314px;
    height: 314px;
    top: 46px;
    right: 241px;

    @media screen and (min-width:1025px) and (max-width: 1250px) {
      right: 111px;
    }
  }
}

.emptyCircle {
  @extend %circle;
  border: .5px solid rgba($color: #363636, $alpha: 0.2);
  width: 191px;
  height: 191px;
  top: 25px;
  right: -145px;

  @include for-desktop-up {
    width: 314px;
    height: 314px;
    top: 51px;
    right: 275px;

    @media screen and (min-width:1025px) and (max-width: 1250px) {
      right: 145px;
    }
  }
}

.smallBlurCircle {
  @extend %circle;
  width: 16px;
  height: 16px;
  background-color: rgba($color: #8224E3, $alpha: 0.5);
  filter: blur(6px);
  top: 315px;
  right: 525px;

  @media screen and (min-width:1025px) and (max-width: 1250px) {
    right: 395px;
  }

  @include for-tablet-down {
    display: none;
  }
}

.emptySemiCircle {
  @extend %circle;
  width: 314px;
  height: 314px;
  border: .5px solid rgba($color: #363636, $alpha: 0.2);
  top: 150px;
  left: -217px;

  @include for-tablet-down {
    display: none;
  }
}
