@import '/src/styles/theme.scss';

$backgroundColor: #c4c4c4;
$progresBackgroundColor: #7cae54;

.fileUploadField {
  margin: 10px 0;
  flex-grow: 1;

  > .field {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
}

.uploadingFile {
  flex-shrink: 0;
}

.fileUploadLabel {
  font-size: 15px;
  margin-bottom: 0;
  margin-left: 15px;
  line-height: 18px;
  letter-spacing: -0.3px;
}

.progress {
  display: flex;
  width: 100%;
  height: 2px;
  background-color: $backgroundColor;
  overflow: hidden;
  border-radius: 2px;

  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: $secondaryColor;
    text-align: center;
    white-space: nowrap;
    background-color: $progresBackgroundColor;
    transition: width 0.6s ease;
    border-radius: 2px;
  }
}
