@import '/src/styles/theme.scss';

.headerContainer {
  color: $secondaryColor;
  background-color: $primaryColor;
  padding-top: calc(
    var(--rootContentPadding) +
    var(--rootContentExtraPaddingTop)
  );
}

.clutchReviews {
 font-style: italic;
 margin: 29px 0 10px 0;
}

.clutchReviews::before {
  content: '"';
}

.clutchReviews::after {
  content: '"';
}