@import '/src/styles/theme.scss';

.headerContainer {
  color: $secondaryColor;
  background-color: $primaryColor;
  padding-top: calc(
    var(--rootContentPadding) +
    var(--rootContentExtraPaddingTop)
  );
}
