@import '/src/styles/theme.scss';
@import '/src/styles/media_queries.scss';

.headerContainer {
  color: $secondaryColor;
  background-color: $primaryColor;
  padding-top: calc(
    var(--rootContentMinPadding) +
    var(--rootContentExtraPaddingTop)
  );
}

.title {
  font-size: 30px;

  @include for-desktop-up {
    font-size: 48px;
    width: 800px;
  }
}

.clutchReviews {
 font-style: italic;
 margin: 29px 0 10px 0;
 max-width: min(250px, 70%);

 @include for-tablet-up {
  font-size: 18px;
  max-width: 420px;
}
}

.clutchReviews::before {
  content: '"';
}

.clutchReviews::after {
  content: '"';
}
