.image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 100%;
  height: 100%;

  & > .image {
    width: 100%;
    height: 100%;
  }
}

.container.cover > .image {
  object-fit: cover;
}

.container.contain > .image,
.container.auto > .image {
  object-fit: contain;
}

.container.top > .image {
  object-position: top;
}

.container.right > .image {
  object-position: right;
}

.container.bottom > .image {
  object-position: bottom;
}

.container.left > .image {
  object-position: left;
}

.container.top_left > .image {
  object-position: top left;
}

.container.top_right > .image {
  object-position: top right;
}

.container.bottom_left > .image {
  object-position: bottom left;
}

.container.bottom_right > .image {
  object-position: bottom right;
}
