@import '/src/styles/media_queries.scss';

.description {
  letter-spacing: 0.6px;
  line-height: 35px;
  text-align: center;
}

.nameService {
  margin: 16px 0px 12px 0px;
  padding-bottom: 16px;
  letter-spacing: 0.6px;
  line-height: 40px;
  text-align: center;
}

@include for-tablet-up {
  .nameService {
    padding-bottom: 8px;
  }
}

@include for-phone-only {
  .nameService {
    margin: 16px 0;
    padding-bottom: 16px;
    letter-spacing: 0.44px;
  }
}

.photo {
  display: block;
  margin: auto;
  margin-top: 40px;
  width: fit-content;
}
