@import '/src/styles/media_queries.scss';

.container {
  padding: 0 15px;

  @include for-phone-only {
    margin-top: 100px;
  }

  @include for-tablet-down {
    @media screen and (orientation: landscape) {
      margin-top: 300px;
    }
  }

  @include for-desktop-up {
    @media screen and (orientation: landscape) {
      margin-top: 0;
    }
  }
}

.confirmationBadge {
  display: flex;
  width: 212px;
  height: 212px;
  margin: auto;
}

.wedevLogo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.messageSent {
  text-align: center;
  letter-spacing: 1.1px;
  line-height: 28px;
  margin: auto;
  margin-top: 45px;

  > h2 {
    font-size: 32px;
    letter-spacing: 1.5px;
    line-height: 38px;
    margin-bottom: 36px;

    @include for-tablet-up {
      font-size: 42px;
      line-height: 50px;
      margin-bottom: 24px;
    }
  }
}

.redirectToWebsite {
  text-align: center;
  letter-spacing: 1.1px;
  line-height: 28px;
  margin: auto;
  margin-top: 20px
}

.goWebsiteButton {
  margin-top: 45px;
}
