@import '/src/styles/media_queries.scss';

$grayColor: #363636;
$bubbleBackground: #F9F9F9; 
$borderBubble: #E1E1E1;

.navBar {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px var(--rootContentHorizontalPadding) !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  transition:
    all 150ms linear,
    backdrop-filter 0ms,
    padding-left 0ms,
    padding-right 0ms
  ;
}

.navBar.navBarHidden {
  display: none;
}

.tagName {
  padding: 0px 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 12px;
}

.descriptionText {
  font-weight: 300;
  font-size: 14px;
  color: $grayColor;
  opacity: 0.75;
  padding-right: 10px;
  margin-bottom: 0px;
}

.bubble {
	position: relative;
	border-radius: .3em;
  display: flex;
  align-items: center;
  margin-right: 25px;
  background: $bubbleBackground;
  border: 0.5px solid $borderBubble;
  filter: drop-shadow(2px 1px 2px rgba(0, 0, 0, 0.1));
  height: 32px;
  margin-top: 4px;

  @include for-tablet-down {
    display: none;
  }
}

.bubble:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-left-color: $bubbleBackground;
  border-right: 0;
  margin-top: -6px;
  margin-right: 5px;
  border-width: 5px 0 8px 14px;
  right: -11px;
}

.menu {
  display: flex;

  @include for-phone-only {
    display: none;
  }
}

.logoLink:focus {
  outline: auto;
}

.logo {
  width: 203px;
  height: auto;
}

