@import '/src/styles/media_queries.scss';
@import '/src/styles/theme.scss';

.hidden {
  display: none;
}

.menu {
  padding: 63px 30px 0;
  list-style-type: none;
  margin: 0;

  @include for-desktop-up {
    padding: 0;
    display: flex;
    align-items: center;
  }

  & > li + li {
    margin-top: 0;

    @include for-desktop-up {
      margin-left: 40px;
    }
  }

  & > li > *:not(.buttonTalk):not([class~="dropdown"]) {
    @include for-tablet-down {
      display: block;
    }
  }

  & > li > *:not(.buttonTalk):not([class~="dropdown"]),
  & > li .servicesDropdownToggle {
    color: var(--textColor);
    outline: none;

    @include for-tablet-down {
      font-size: 19px;
      line-height: 67px;
    }

    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}

.servicesDropdownToggle {
  height: 100%;

  .iconRight {
    transition: transform 200ms ease-in-out;
    width: 10px;
    height: auto;
  }

  &.open .iconRight {
    transform: rotate(180deg);
  }

  @include for-tablet-down {
    width: 100%;
    justify-content: space-between;

    & > *:first-child {
      margin-left: 0;
    }

    & > *:last-child {
      margin-right: 0;
    }
  }
}

.dropdownMenu {
  display: none;
  pointer-events: all !important;

  &[class~="show"] {
    display: block;
    opacity: 1 !important;
  }

  @include for-tablet-down {
    position: relative !important;
    transform: none !important;
  }

  @include for-desktop-up {
    top: 8px !important;
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    width: 210px;
  }
}

.dropdownItem {
  display: block;
  font-style: normal;

  @include for-tablet-down {
    font-size: 19px;
    line-height: 67px;
    outline: none;
    color: var(--textColor);
    padding-left: 32px;
  }

  @include for-desktop-up {
    font-size: 16px;
    padding: 30px;
    font-weight: 300;
    line-height: 19px;
    color: #363636;
    white-space: nowrap;
    text-align: left;

    &:hover,
    &:focus {
      text-decoration: none;
      font-weight: 500;
      background: linear-gradient(
        270deg,
        rgba(43, 212, 250, 0.05) 0%,
        rgba(55, 125, 255, 0.05) 100%
      );
    }
  }
}

.navItem {
  font-size: 14px;
  line-height: 17px;

  @include for-tablet-down {
    & + & {
      border-top: 1px solid #E1E1E1;
    }
  }

  @include for-desktop-up {
    position: relative;
    height: 100%;

    & > * {
      text-decoration: none !important;
      display: inline-block;
      padding: 7px 5px;
      height: 100%;
      display: inline-flex;
      align-items: center;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: 0;
      left: 0;
      background: #377DFF;
      visibility: hidden;
      transform: scaleX(0);
      transition: .25s linear;
    }

    &:hover::after, &.active::after {
      visibility: visible;
      transform: scaleX(1);
    }
  }
}

.menuIcon {
  --primaryColor: #{$secondaryColor};
  --secondaryColor: #{$secondaryColor};
  width: 23px;
  height: 20px;
}

.buttonTalk {
  @include for-tablet-down {
    width: 100%;
    margin-top: 20px;
  }
}
