@import "/src/styles/theme.scss";
@import "/src/styles/media_queries.scss";

.techSolutionsSection {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 220px;
  margin-bottom: 70px;
}

.contentWrapper {
  display: flex;
  justify-content: stretch;
}

.firstContentWrapper {
  margin-bottom: 225px;
}

.maleVideocallFrame {
  background: rgba($color: #F8B75F, $alpha: 0.85);
  width: 532px;
  height: 454px;
  border-radius: 0px 30px 0px 40px;
  margin-right: 100px;

  > .maleVideocallImage {
    width: 532px;
    height: 454px;
    border-radius: 0px 30px 0px 40px;
    position: relative;
    left: 26px;
    bottom: 26px;
  }
}

.maleComputerFrame {
  background: rgba($color: #F8B75F, $alpha: 0.85);
  width: 590px;
  height: 500px;
  border-radius: 0px 30px 0px 40px;
  margin-left: 25px;
  margin-right: 20px;

  .maleComputerImage {
    width: 590px;
    height: 500px;
    border-radius: 0px 30px 0px 40px;
    position: relative;
    right: 26px;
    bottom: 26px;
    }
}

.textContainer {
  >h2 {
    font-size: 42px;
    letter-spacing: 1.2px;
    line-height: 60px;
    padding-left: 25px;
  }

  >p {
    font-size: 20px;
    letter-spacing: 1.2px;
    line-height: 30px;
    padding-left: 25px;
    margin: 50px 0;

    >span {
      font-weight: 700;
    }
  }
}

.firstTextContainer {
  >h2 {
    padding-left: 16px;
    border-left: 9px solid rgba($color: #773E9A, $alpha: 1);

    >span {
      text-decoration: underline;
    }
  }

  >p {
    margin: 30px 0;
  }
}

.upgradeButton {
  margin-left: 25px;
}

.bigCircle {
  width: 106px;
  height: 106px;
  border-radius: 50%;
  background: rgba($color: #F8B75F, $alpha: 0.85);
  position: absolute;
  top: 0;
  left: 50px;
}

.smallCircle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: rgba($color: #F8B75F, $alpha: 0.85);
  position: absolute;
  top: 106px;
  left: 136px;
}
