@import '/src/styles/theme.scss';
@import '/src/styles/media_queries.scss';

.getInTouch {
  position: relative;
  padding-top: 200px;
  padding-bottom: 200px;

  @include for-desktop-up {
    padding-top: var(--rootContentMinPadding);
    padding-bottom: var(--rootContentMinPadding);
  }
}

.sectionContent {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;

  @include for-tablet-down {
    padding: 40px 0 40px 0;
  }
}

.subheadingText {
  font-weight: 500;
  letter-spacing: 1em;
  color: rgba($color: #363636, $alpha: 0.5);
  font-size: 10px;
  margin-bottom: 40px;
  text-transform: uppercase;

  @include for-desktop-up {
    font-size: 13px;
  }
}

.titleText {
  text-align: center;

  @include for-desktop-up {
    font-weight: 600;
    font-size: 60px;
    margin-bottom: 10px;
  }
}

.descriptionText {
  font-weight: 300;
  font-size: 20px;
  color: rgba($color: #363636, $alpha: 0.5);
  text-align: center;
}

.horizontalBar {
  width: 100px;
  height: 10px;
  background: #FFC331;
  margin: 40px auto;
  border: none;
}

%dotsPattern {
  position: absolute;
  width: 250px;

  @include for-desktop-up {
    width: 15vw;

    @media screen and (min-width: 1024px) and (max-width: 1230px) {
      width: 12vw;
    }
  }
}

.leftPattern {
  @extend %dotsPattern;
  top: 40px;
  left: calc(50% - 125px);

  @include for-desktop-up {
    top: 90px;
    left: 5vw;

    @media screen and (min-width: 1024px) and (max-width: 1230px) {
      left: 3vw;
    }
  }
}

.rightPattern {
  @extend %dotsPattern;
  bottom: 40px;
  right: calc(50% - 125px);

  @include for-desktop-up {
    top: 90px;
    bottom: auto;
    right: 5vw;

    @media screen and (min-width: 1024px) and (max-width: 1230px) {
      top: 100px;
      right: 3vw;
    }
  }
}

@include for-tablet-down {
  .leftPattern, .rightPattern {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: static;
  }
}
