@import '/src/styles/theme.scss';
@import '/src/styles/media_queries.scss';

.getInTouch {
  position: relative;
}

.sectionContent {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;

  @include for-tablet-down {
    padding: 40px 0px 40px 0px;
  }
}

.subheadingText {
  font-weight: 500;
  letter-spacing: 3px;
  color: rgba($color: #363636, $alpha: 0.5);
  font-size: 10px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.titleText {

  @include for-desktop-up {
    font-weight: 600;
    font-size: 60px;
    margin-bottom: 10px;
  }
}

.descriptionText {
  font-weight: 300;
  font-size: 20px;
  color: rgba($color: #363636, $alpha: 0.5);
  text-align: center;
}

.horizontalBar {
  width: 100px;
  height: 10px;
  background: #FFC331;
  margin: 40px auto;
  border: none;
}

%dotsPattern {
  width: 15vw;
  position: absolute;
  top: 90px;
  display: none;

  @include for-desktop-up {
    display: block;

    @media screen and (min-width: 1024px) and (max-width: 1230px) {
      top: 100px;
      width: 12vw;
    }
  }
}

.leftPattern {
  @extend %dotsPattern;
  left: 5vw;

  @media screen and (min-width: 1024px) and (max-width: 1230px) {
    left: 3vw;
  }
}

.rightPattern {
  @extend %dotsPattern;
  right: 5vw;

  @media screen and (min-width: 1024px) and (max-width: 1230px) {
    right: 3vw;
  }
}

@include for-tablet-down {
  .leftPattern, .rightPattern {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: static;
  }
}
