@import "/src/styles/media_queries.scss";

$required: #F00;

.scheduleFormBasic {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 32px;
  border-radius: 5px;
  background-color: #fff;
  @include for-tablet-down {
    padding-top: 52px;
  }

  label {
    span {
      font-size: 14px;
      color: #363636;
      opacity: .65;
      font-weight: 500;
    }
  }
}

.scheduleTitle {
  font-weight: 500;
  color: #363636;
  font-size: 20px;
  text-align: center;
  margin: 15px 0;

  @include for-tablet-up {
    max-width: 70%;
    font-size: 42px;
    text-align: left;
  }

  @include for-desktop-up {
    margin-top: 0;
  }
}

.scheduleFormBasicInput {
  margin-top: 5px;
}

.scheduleFormBasicTextAreaLabel {
  margin-top: 29px;
}

.scheduleFormBasicTextArea {
  resize: none;
  margin-top: 29px;
  min-height: 104px;
}

.scheduleFormBasicInput {
  margin-top: 5px;
  border: rgba($color: #363636, $alpha: 0.12) 1px solid;
  border-radius: 4px;
  padding: 15px;
  width: 100%;
  height: 37px;
  font-size: inherit;
  transition: all ease-in-out 150ms;
  outline: none;

  &:focus {
    border-color: rgba($color: #000000, $alpha: 1.0);
    border-width: 1px;
  }

  &::placeholder {
    font-size: 16px;
    color: rgba($color: #707070, $alpha: 1);
  }
}

.fieldWithError {
  border-color: $required;
}

.scheduleFormBasicButton {
  height: 56px;
  width: 80%;
  font-size: 20px;
  box-shadow: 3px 3px 4px rgba(40, 53, 123, 0.3);
  border: 0;
}

.avatarTeamWork {
  width: 115px;
  height: 115px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;

  @include for-desktop-up {
    left: 100%;
    transform: translate(-60%, -40%);
  }

  &::before {
    content: '';
    position: absolute;
    background-image: url("../../../assets/staff_augmentation/avatar_circle_background.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 140px;
    top: -28px;
    left: -30px;
  }
}

.submitWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.whatHappensNextContainer {
  justify-content: center;

  @include for-desktop-up {
    display: flex;
  }

  & > .whatHappensNext {
    display: flex;
    align-items: center;
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
  }
}

.popoverContainer {
  background-color: #FDF2D6;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 25px;
  max-width: calc(100vw - 100px);
  position: relative;
  font-size: 14px;
  animation: fade-in 250ms ease;
  text-align: center;
  margin-right: 15px;

  @include for-tablet-up {
    max-width: 400px;
  }

  & > :global(.popover-header) {
    font-weight: 800;
    color: #363636;
    margin-bottom: 5px;
  }

  & > :global(.popover-body) {
    font-weight: 200;
    text-align: center;
  }

  &::after {
    content: '';
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    border-left: 20px solid #FDF2D6;
  }
}
