@import "/src/styles/media_queries.scss";

.portfolioProjectPreShowcase {
  overflow-x: hidden;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 260px;
  background: linear-gradient(to right,#122952, #377DFF);
  clip-path: polygon(0 0, 100% 6%, 100% 100%, 0 82%);
  @include for-regular-desktop-down {
    flex-direction: column;
  }
  .portfolioFeaturedWrapper {
    display: flex;
    width: 100%;
    @include for-medium-desktop-down {
      padding-bottom: 50px;
      flex-direction: column;
    }
  }

  .portfolioFeatured {
    color: #fff;
    padding: 20px 0;
    max-width: 250px;
    flex-shrink: 0;
    margin-right: 100px;

    @include for-medium-desktop-down {
      grid-template-columns: 1fr;
      width: 100%;
      max-width: 100%;
      text-align: center;
    }

    h3 {
      font-family: 'Inter';
      font-weight: 500;
      letter-spacing: 1em;
      text-transform: uppercase;
      font-size: 13px;
      opacity: 0.5;
      white-space: nowrap;
    }

    h4 {
      margin-top: 20px;
      font-weight: 600;
      font-size: 45px;
    }

    p {
      font-size: 20px;
      line-height: 24px;
      letter-spacing: -0.3px;
      opacity: 0.5;
    }

    .horizontalBar {
      width: 100px;
      height: 10px;
      background: #FFC331;
      margin: 0;

      @include for-medium-desktop-down {
        margin: auto;
        align-self: center;
      }

      align-self: flex-start;
      border: none;
    }
  }

  .portfolioProjectDisplayWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    @include for-regular-desktop-down {
      flex-direction: column;
    }

    .portfolioProjectWrapper {
      position: relative;

      .portfolioProjectPreview {
        border-radius: 50%;
        height: 280px;
        width: 280px;
        overflow: hidden;
        position: relative;

        @include for-tablet-down {
          margin: 16px;
        }

        &::after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
          opacity: 1;
          transition: opacity 250ms ease;
        }
      }

      .portfolioProjectCompanyLogoWrapper {
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 5px;
        bottom: -1px;
        transition: bottom 0.4s;
        border: 2px solid transparent;
        transition: border-color 250ms ease;
        overflow: hidden;

        .portfolioProjectCompanyLogo {
          height: 50px;
          width: 50px;
        }
      }
    }

    > .container {
      margin: 10px;
    }

    > .container:focus-within,
    > .container:focus,
    > .container:hover {
      .portfolioProjectPreview {
        box-shadow: 0px 0px 35px rgba(255, 255, 255, 0.25);

        &::after {
          opacity: 0;
        }
      }

      .portfolioProjectCompanyLogoWrapper {
        border-color: #fff;
      }
    }
  }
}

.viewMoreButton {
  &.mobile {
    @include for-desktop-up {
      display: none;
    }
  }

  &:not(.mobile) {
    @include for-tablet-down {
      display: none;
    }
  }

  max-width: 210px;
  width: 100%;
  margin-top: 25px;
  border: 1px solid #fff;
  border-radius: 3px;
  @include for-tablet-up {
    margin-right: auto;
  }
  @include for-tablet-down {
    margin: auto;
  }
  color: #fff;
  &:hover {
    cursor: pointer;
  }
}
