@import '/src/styles/media_queries.scss';

.container {
  text-align: center;
  margin-top: 10vh;
  padding-bottom: 45vh;

  @include for-big-desktop-up {
    padding-bottom: 60vh;
  }

  @include for-tablet-down {
    padding-bottom: 25vh;
  }

  @include for-phone-only {
    padding-bottom: 15vh;
  }
}

.heading {
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 1em;
  text-transform: uppercase;
  color: #363636;
  opacity: 0.5;
}

.title {
  font-weight: 600;
  line-height: 100%;
}

.description {
  font-weight: 300;
  line-height: 100%;
  text-align: center;
}

.role {
  background: linear-gradient(to right, #6B67E9 100%, #8224E3 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.horizontalBar {
	width: 100px;
	height: 10px;
	background: #FFC331;
	border: none;
}

.background {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}

.patternHorizontalLeft {
  position: absolute;
  top: 10vh;
  left: 0;
  z-index: -1;

  @include for-tablet-down {
    display: none;
  }
}

.patternHorizontalRight {
  position: absolute;
  top: 10vh;
  right: 0;
  z-index: -1;

  @include for-tablet-down {
    display: none;
  }
}
