@import '/src/styles/media_queries.scss';

.container {
  text-align: center;
  margin-top: 25px;
}

.heading {
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 1em;
  text-transform: uppercase;
  color: #363636;
  opacity: 0.5;
  margin-bottom: 32px;

  @include for-tablet-down {
    font-size: 10px;
  }
}

.title {
  font-weight: 600;
  line-height: 100%;

  @include for-tablet-down {
    font-size: 32px;
  }
}

.description {
  text-align: center;
  color: rgba($color: #363636, $alpha: .5);
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;

  @include for-tablet-down {
    font-size: 15px;
    line-height: 22px;
  }
}

.role {
  background: linear-gradient(to right, #6B67E9 100%, #8224E3 100%);
	-webkit-background-clip: text;
  background-clip: text;
	-webkit-text-fill-color: transparent;
}

.horizontalBar {
	background: #FFC331;
  border: none;
  width: 100px;
  height: 10px;
  margin: 32px auto 30px;
}

.background {
  z-index: -1;
  padding: 0;
  width: 100%;
}

%dotsPattern {
  position: absolute;
  z-index: -1;
  width: 250px;

  @include for-desktop-up {
    width: 15vw;

    @media screen and (min-width: 1024px) and (max-width: 1230px) {
      width: 12vw;
    }
  }
}

.patternHorizontalLeft {
  @extend %dotsPattern;
  top: 40px;
  left: calc(50% - 125px);
  
  @include for-desktop-up {
    top: 90px;
    left: 5vw;

    @media screen and (min-width: 1024px) and (max-width: 1230px) {
      left: 3vw;
    }
  }
}

.patternHorizontalRight {
  @extend %dotsPattern;
  bottom: 40px;
  right: calc(50% - 125px);
  
  @include for-desktop-up {
    top: 90px;
    bottom: auto;
    right: 5vw;

    @media screen and (min-width: 1024px) and (max-width: 1230px) {
      top: 100px;
      right: 3vw;
    }
  }
}
