@import '/src/styles/media_queries.scss';

.messageContainer {
  max-width: 640px;
  width: 100%;
  margin-bottom: 30px;

  >p {
    font-size: 14px;
    line-height: 25px;
    color: rgba($color: #363636, $alpha: .65);
    margin: 0;

    @include for-tablet-up {
      font-size: 17px;
    }
  }
}
